[2022-02-05 07:04] alextran1502 opened #1 "Video Upload"

[2022-02-06 06:26] #1 closed

[2022-02-06 06:37] alextran1502 opened #3 "Video Display"

[2022-02-06 06:37] alextran1502 opened #4 "Remove fast scroll bar to avoid image cannot catch up with loading speed"

[2022-02-06 06:37] alextran1502 opened #5 "Video needs to copy before uploading which cause slow wait time"

[2022-02-06 06:50] #3 closed

[2022-02-06 06:57] alextran1502 opened #6 "Reload when newer asset is available and backed up."

[2022-02-06 15:46] Gaming4LifeDE opened #7 "Support watching the file system"
As I already mentioned on Reddit, some people will have their photo volume mounted on their desktops via SMB or similar. When adding a picture there (let's say, when dumping from a DSLR), immich should watch the file system and index new files automatically.

[2022-02-06 15:59] alextran1502 commented on #7
I was hoping to do this through a web interface instead, so the flow is unified and to avoid the dependence on different file system architecture. I will put this as enhancement for the next milestone of the app :)

[2022-02-07 02:32] #6 closed

[2022-02-07 20:03] ippocratis opened #10 "build errors"
trying to build on a raspbbery 400 running manjaro arm connected to eth0

running ```sudo docker-compose -f ./server/docker-compose.yml up -d```
gives
```server error```
and
[code]

[2022-02-07 20:35] alextran1502 commented on #10
I saw this on my build for ARM as well, I will investigate this.

[2022-02-07 23:10] ippocratis commented on #10
recloned the repo
and re-run docker-compose
also failed to build
had a ```server error``` again
and a ```debconf: delaying package configuration, since apt-utils is not installed``` error on Step 6/11
on Step 7/11 : RUN npm install
[code]

[2022-02-08 00:53] alextran1502 commented on #10
Yes, Tensor Flow 2 right bow support 32bit system on Raspberry Pi but they don't have plan for 64bit yet. I will keep you update on this issue

[2022-02-08 03:44] alextran1502 commented on #4
Will implement once there is an alternative for navigating through the timeline

[2022-02-08 03:44] #4 closed

[2022-02-08 06:27] alextran1502 commented on #5
There is currently no fix for this

So the app needs to copy the internal file to the cache location before allowing any interactions to the file. We will have to live with long copy time of large video file.

[2022-02-08 06:27] #5 closed

[2022-02-08 07:01] alextran1502 opened #12 "Choose multiple assets for group action"

[2022-02-08 08:56] ippocratis commented on #10
i could try something like

https://github.com/photoprism/photoprism/blob/adeb18dc443f83d0d576e6f236587e6b277465d4/docker/scripts/install-tensorflow.sh

or

https://github.com/bitsy-ai/tensorflow-arm-bin

with prebuild tensorflow binaries for arm64?

[2022-02-08 15:34] alextran1502 commented on #10
You can try but I am afraid it won't work since the binary is built when installing the npm packages for the server. I hope they will be adding support for arm64 soon.

[2022-02-08 17:25] #12 closed

[2022-02-09 03:01] schklom opened #14 "Support docker secrets"
Hi!

Would you please implement extra Docker environment variables called `*_FILE` or something in that fashion, and feed them `/run/secrets/immich_*`, at least for the database password and the jwt secret?
Doing otherwise can be unsafe. Ideally, the database name and username can also be read as secrets.

The docker-compose.yml would look like (only included the relevant parts)
[code]

I don't kn

[2022-02-09 04:59] alextran1502 commented on #14
Thank you for the suggestion, I will take a look at this.

[2022-02-09 22:19] ippocratis commented on #10
I see
So
Could I somehow edit your scripts to build tensorflow/tfjs-node from source?
I came upon this solution
https://github.com/yhwang/node-red-contrib-tf-model
Thanks

[2022-02-10 00:43] alextran1502 commented on #10
Yes, please make a PR when you have it working, I will take a look

[2022-02-10 02:50] alextran1502 commented on #10
@ippocratis I rework the docker image, it is no longer requires TensorFlow for npm install. I will move TensorFlow to microservice architecture so other people can use different machine learning services if needed. You can reclone the repo and try build on ARM64

[2022-02-10 10:43] ippocratis commented on #10
thanks
apreciate it
the dockerfile builds fine now
but i have other issues
i cant access http://ip:2283 , https://ip:2284 nor can  create a user
lsogs say i didnt configure database properly

[code]

and

[code]
my .env

[code]

my docker-compose.yml

[code]
most likely i missed something
any ideas apreciated

btw since there are no bild errors now should i close this issue and open a new one?

[2022-02-10 12:06] ippocratis commented on #10
thanks Dockerfile buils fine now
apreciate it

[2022-02-10 12:06] #10 closed

[2022-02-10 12:08] ippocratis opened #17 "FATAL: password authentication / DETAIL: Role “” does not exist"
i cant access http://ip:2283 , https://ip:2284 nor can  create a user
lsogs say i didnt configure database properly

[code]

and

[code]
my .env

[code]

my docker-compose.yml

[code]
most likely i missed something
any ideas apreciated

[2022-02-10 12:11] ippocratis commented on #17
If your server_pgdata volume has files in it then the entrypoint script won't initialize the database
i had to delete the db container and db volume and recreate

[2022-02-10 13:21] ippocratis opened #18 "can't backup"
[code]

i chmod -R 755 ~/immich/sever/upload

[code]

[2022-02-10 14:09] alextran1502 commented on #18
This is from a RaspberryPi 400, correct? In the Nginx message, did you masked the server address as xxx.xx.x.x?

[2022-02-10 14:11] alextran1502 commented on #18
Can you try

'sudo chown -R yourusername:yourusername ~/immich/server/upload'

[2022-02-10 14:12] ippocratis commented on #18
from the raspberry pi400 yes
i just replaced the actual adress with xxx for this post

[2022-02-10 16:37] alextran1502 commented on #18
The file won't be copied to your local `immich/server/upload`. You can see it in the container shell or in the `/var/lib/docker/volumes/` where it is mounted.

Did you build the mobile directly or use the APK? If you use the APK, please try a different APK here.
https://github.com/alextran1502/immich/suites/5244393557/artifacts/161419112

From the root of the directory `immich` can you run `make d

[2022-02-10 19:04] alextran1502 commented on #18
No worry, I think you are very close. Unfortunately, I don't have the pi400 to try this on, otherwise, I can help you with better information.

Let me know how it goes!

[2022-02-11 13:33] ippocratis commented on #18
came upon this
https://github.com/nodejs/docker-node/issues/1262#issuecomment-677577653

i tried to build with
```COPY --chown=node:node``` in the copy commands
acording to [this](https://github.com/nodejs/docker-node/issues/1262#issuecomment-677577653)
also tried with
```RUN npm install  --unsafe-perm=true```
acording to [this](https://stackoverflow.com/a/49085422)
still ```Error: EACCES: permiss

[2022-02-11 13:48] alextran1502 commented on #18
Can you clone the repo to the new location, in server folder you create the upload directory first. Then you run the docker compose up command?

[2022-02-11 15:59] alextran1502 opened #20 "Raw MOV file cannot be played by Exoplayer on Android - Need to transcode after uploading to the server"

[2022-02-11 20:59] alextran1502 commented on #18
@ippocratis I want to let you know that I can replicate your problem and is working on the fix.

[2022-02-12 04:29] alextran1502 commented on #18
@ippocratis I updated the docker-compose file. I was always running my development environment as root so I didn't encounter the problem when using volume mount, once I switch to a non-root user, then I have that issue. The solution I came up with is to use volume mount and let the user specify where they want to store all of the access on their local machine in the `UPLOAD_LOCATION` key in `.env`

[2022-02-12 13:18] ippocratis commented on #18
yep working fine now
you are a hero
thanks

[2022-02-12 13:18] #18 closed

[2022-02-12 13:25] ippocratis commented on #7
not sure if [Gaming4LifeDE](https://github.com/Gaming4LifeDE) meant the same thing
but
an indexer for local files on server is absolutely missing and would be usefull
if not that maybe some sort of importer , like a way to import photos already on the machine the server is running into immich

[2022-02-12 17:40] alextran1502 commented on #7
@ippocratis  Yes, it is exactly what @Gaming4LifeDE means. I am leaning toward an importer with a web interface though, so I can leverage the current APIs on the server-side. Once I got the mobile app stable, this is one of the first feature I am going to work on next

[2022-02-12 17:45] Gaming4LifeDE opened #21 "Will the immich app also show local photos?"
I think it should be able to at least. Imagine having a button on the picture view like this: a cloud with a up arrow in it if it's only on the device, a cloud with a check mark if it's on both and a cloud with a down arrow if it's just on the server. While uploading/downloading, the cloud icon should have a progress bar around it.

[2022-02-12 18:10] alextran1502 commented on #21
My initial prototype was following this approach. I am planning to rewrite the way I manage the total assets. I will think of a way to incorporate this.

[2022-02-14 00:30] alextran1502 opened #24 "websocket notification"

[2022-02-21 21:26] ilkersigirci opened #30 "Can't register user"
I have set up everything and running without error codes in docker, but when I do curl request to server I got no response. Here is my docker compose file

[code]

[2022-02-21 21:44] alextran1502 commented on #30
Hi @ilkersigirci, did you pull from the latest master branch? Can you run `docker-compose up` without daemon mode and check the log? what is your curl command look like?

[2022-02-21 21:48] alextran1502 commented on #30
In your `port` section of `immich_server` can you bind `2283:3000` instead of `2283:80`? port 80 was for `nginx` :) I think that is why you cannot communicate to the server

[2022-02-21 22:21] ilkersigirci commented on #30
Oh you are right. I should have changed the port :) Thank you, great work man

[2022-02-25 12:41] vins345 opened #33 "Add support for OAuth login"
Only login and password is to weak secure for 2022 year :)

[2022-02-26 06:06] Backslashh opened #34 "Support user defined storage location/structure"
I mentioned this on Reddit, but the user should be able to define how images are stored on the file system. This will not only allow for the user to choose how the images are named, but should allow Immich to index existing images.

Let's say I have an existing photos library where the photos are structured like this:
Photos |
  |-> 2022
    |-> 01
      |-> filename.ext

Immich should respect the

[2022-02-26 15:43] alextran1502 commented on #34
Thank you for your suggestion. I will consider this when the mobile app is stable and all the basic features are ironed out

[2022-03-03 20:15] Backslashh commented on #34
So, I am the one who made the request for the external importer but you may be misinterpreting what I have said.
What I mean is this - most people in this sub will already have a bunch of photos on their servers/NAS stored in a way they prefer on the file system, for me, it’s a directory called photos and then sub folders as years (2022, 2021, 2020, etc) and then sub folders within them as months,

[2022-03-03 21:34] ippocratis commented on #34
I agree with the year/month/day folder structure but I don't want to push the dev
Its his app after all
I see that immich is crazy fast in loading and disposing immages appar to how google photos loads cloud images. That crazy fast
So I really want this app to grow so I can use it.
The truth is that if the feature to add to immich server photos already on the server machine is not somehow imlement

[2022-03-05 20:07] ilkersigirci opened #38 "Preserve directory structure on backup"
Could you implement the backup mechanism to preserve folder structure?

-Consider I have  DCIM/Camera and Pictures/Telegram folders in the  phone.
-When doing  backup, in the remote server, these photos are located as merged folder with random name like $UPLOAD_DIR/0268595a-45c0-4d09-af89-70ecb56b3c63/original/....
-But I want them  to be same as the folder structure in my phone.
-With this way, o

[2022-03-07 17:43] alextran1502 commented on #7
@Gaming4LifeDE , @ippocratis

I've created a CLI tool to upload images/video from your local machine/server to Immich

You can take a look and test here https://github.com/alextran1502/immich_cli

Please rebuild the server before testing, I added some additional helper functions on the server to accommodate the CLI tool

Let me know how it goes.

[2022-03-08 19:03] kennyparsons opened #40 "404 from nginx"
I have an instance up and was able to create a user with the curl commands. I can also ping the server with
[code]

However, when i open my browser to the app (`http://localhost:2283/`), I get:
[code]
I'm running this on Docker Desktop for Mac (Intel).

[2022-03-08 19:15] mikegrogan commented on #40
In talking with Alex recently, the website isn't ready yet. Just the app. I tested on Android running the APK and was able to load it up and login, as well as backup photos w/o too many issues. I got the 404 trying to run the website as well.

[2022-03-08 19:17] kennyparsons commented on #40
Well then I should open another issue. I couldn't get flutter to compile the iOS app.

[2022-03-08 20:20] alextran1502 commented on #40
@kennyparsons This is currently the backup tool for your photos and videos from your mobile phone. So there is no web client.

It might evolve to a gallery app but it is not my initial goal of this application.

I am planning to have TestFlight and the app on the Apple Store once the mobile app is ready to be released, my apologies for the inconvenience if you are using an iPhone.

[2022-03-08 20:23] #40 closed

[2022-03-08 21:10] ippocratis commented on #7
recloned the immich repo and tried to rebuild
i'm having tensorflow errors again
looked at package.json there are no tensorflow dependencies
where should i look?

[2022-03-08 22:01] alextran1502 commented on #7
@ippocratis  I am running TensorFlow in its own service, you can remove/commented out `immich_tf_fastapi` in the docker-compose file to not run it.

<img width="696" alt="image" src="https://user-images.githubusercontent.com/27055614/157332929-a2b69bca-38d7-4196-9eeb-f87e2c0f482f.png">

[2022-03-09 18:57] ippocratis commented on #7
@alextran1502
comented the above lines in docker-compose.yml
cntainers builds
but i cant add a user
[code]

[2022-03-09 19:03] alextran1502 commented on #7
@ippocratis can you show me your docker-compose file?

[2022-03-09 19:14] alextran1502 commented on #7
@ippocratis can you use this command to run docker-compose

'docker-compose -f ./docker/docker-compose.yml up --build -V'

Since there is new update in package.json, docker needs to copy and rebuild the node_modules

I believe that should solve the problem

[2022-03-11 17:08] alextran1502 opened #45 "Reinstall app doesn't persist device id."
Reinstalling the ios app doesn't persist the device id, causing the backup to duplicate old files. This issue happens in development and through TestFlight

This issue is known and the device id doesn't change if the app is installed via the app store.

[2022-03-11 19:38] #45 closed

[2022-03-14 16:06] geekedtv opened #51 "Docker fails"
I really wanted this to work. It fails every time using docker.

[code]

[2022-03-14 17:16] alextran1502 commented on #51
Hello,

Can you please show me the full log message? And which operating system are you running on?

Can also you confirm that you've run the command below?

`docker-compose -f ./docker/docker-compose.yml up --build -V`

[2022-03-16 02:26] simonliu99 opened #54 "iOS app crashes during upload"
App crashes occasionally when uploading long(er) videos, no errors on server side. I have "Share With App Developers" enabled so you might be able to see crash logs but I'm not sure how to collect them myself.

[2022-03-16 05:30] alextran1502 commented on #54
Hey @simonliu99,

What was the length of the video and was the video recored from your phone or you downloaded else where?

Thanks

[2022-03-16 11:30] simonliu99 commented on #54
Video is 4:29 minutes long, taken on a DJI Mini 2 but transferred to my phone. Source shouldn't be an issue as it uploaded a 1:04 long video from the drone just fine.

[2022-03-16 13:08] alextran1502 commented on #54
Do you know the raw file format of the video?

I've seen some instances that uploading the files that were not taken with the phone that caused some error because the file encoding cannot be read by the decoder.

I will look more into this once I have more information from you.

[2022-03-16 15:43] simonliu99 commented on #54
Looks to be .mp4 H.264, I'll try to grab some logs in Xcode

[2022-03-16 19:03] simonliu99 commented on #54
Here's the console logs using search "immich"
[code]

[2022-03-16 21:52] alextran1502 commented on #54
Hmm, the console log is different from the crash log. Although from the look I see this

[code]

Would it be possible for you to share the video that cause the crash? that would be the best way to reproduce the scenario. If not, we will find another way.

[2022-03-16 22:15] simonliu99 commented on #54
You can find the video here: https://www.dropbox.com/s/etv3brwlxlasadw/Video%20Mar%2013%2C%206%2042%2011%20PM.mp4?dl=0

[2022-03-16 22:18] alextran1502 commented on #54
Thanks, I will load it to my phone and let you know what I find.

[2022-03-16 22:51] alextran1502 commented on #54
This is strange. I downloaded and airdropped the video to my phone. I am running the latest release on the app store and I could upload the video just fine.

What model is your iPhone? Did the app crash when you start uploading that video or after it reached 100% or during the uploading process?

[2022-03-16 22:55] simonliu99 commented on #54
That is strange, I have an iPhone Xs Max on the latest version of iOS. The app would crash after a couple percent of upload.

[2022-03-16 23:10] simonliu99 commented on #54
Welps, it worked on an iPhone 8 Plus. Guess it's just my device then.

[2022-03-17 05:36] alextran1502 commented on #54
I am glad it is working on other phones. Weird though, I don't like problem like this where it is device's dependence since I don't have the device to troubleshoot 😓. I am closing the issue now, if you encounter any other problem, feel free to reopen it

[2022-03-18 01:33] alextran1502 commented on #51
@geekedtv Do you have any update on this?

[2022-03-18 09:29] alextran1502 opened #58 "Support AppleProRaw format"
Adding support for Apple ProRaw format

[2022-03-19 01:23] #58 closed

[2022-03-19 11:20] arminus opened #61 "arm build error (Pi4, aarch64)"
Trying to build the docker-compose.yml, I get this:

[code]

[2022-03-19 13:05] alextran1502 commented on #61
You will have to comment out the  `immich_tf_fastapi` if you build on Rapsberry Pi. That container use TensorFlow 2 and currently not supported on Rpi

[2022-03-19 14:38] arminus commented on #61
Ok, I missed that. So that get's me one step further:

[code]

my .env file is set like this

[code]
setting MAPBOX_KEY to some arbitrary value doesn't change anything.

[2022-03-19 14:52] alextran1502 commented on #61
When you change your .env file, did you re-run the docker-compose command again? I haven't seen this behavior on my system

[2022-03-19 14:59] arminus commented on #61
Yes, this happens when I run docker-compose -f ./docker/docker-compose.yml up --build -V

[2022-03-19 15:26] alextran1502 commented on #61
Ah, I think I found the reason. Fixed in #62. Can you please pull the main branch and try again?

[2022-03-19 15:36] alextran1502 commented on #61
Actually, there is still a problem, I am working on this one

[2022-03-19 15:44] alextran1502 commented on #61
Ok, it is good now. Fixed in [commit dbd79f47975f2105ca4f9687b8fcdbd6bd2ee3ab](https://github.com/alextran1502/immich/commit/dbd79f47975f2105ca4f9687b8fcdbd6bd2ee3ab)

[2022-03-19 16:12] arminus commented on #61
Confirmed, thanks for the quick fix.

Next problem:
[code]
How do I create/seed the database?

[2022-03-19 16:55] alextran1502 commented on #61
Can I see your `docker-compose` file? The database should be created at startup.

[2022-03-19 16:58] arminus commented on #61
Here you go. No real change to your version in git:

[code]

[2022-03-19 17:00] arminus commented on #61
And here's my .env file:

[code]

[2022-03-19 17:04] ippocratis commented on #61
maybe similar to this
https://github.com/alextran1502/immich/issues/17#issuecomment-1034848900

[2022-03-19 17:15] alextran1502 commented on #61
@ippocratis Thank you for the suggestion. Another relevant source I just found; [Postgres image is not creating database](https://stackoverflow.com/questions/48629799/postgres-image-is-not-creating-database)

@arminus Can you try what @ippocratis suggested?

I haven't been able to acquire an RPi4 to test.

[2022-03-19 17:33] arminus commented on #61
yep, I had the same thought after a while and that did solve that problem.

Now all containers appear to be up and running, no error messages as far as I can tell, I managed to create a user, but when I try to load http://pi4:283 I get a 404, "Cannot GET /"

nginx is running on
[code]
and there's no port conflict on 2283 orr 2284

Can't get any logs form nginx:

docker logs proxy_nginx
Error respo

[2022-03-19 17:34] arminus commented on #61
Here's the immich_server log:

[code]

[2022-03-19 17:49] alextran1502 commented on #61
There is no web interface. If you have an iPhone, you can download the app from the app store to use it. If you have an Android, you can download the latest APK in the release tab to use it. I'm in the process of getting the app onto Google Playstore

[2022-03-19 18:11] ippocratis commented on #61
A non google services depended version of the app released here or on fdroid will be more than welcone

[2022-03-20 07:17] ffidan61 commented on #51
I got the same error here is the log:

Sending build context to Docker daemon  921.1kB
Step 1/8 : FROM node:16-alpine3.14 AS development
 ---> 61b24385412d
Step 2/8 : ARG DEBIAN_FRONTEND=noninteractive
 ---> Using cache
 ---> 7e4c97e5be92
Step 3/8 : WORKDIR /usr/src/app
 ---> Using cache
 ---> 0d12dcab5684
Step 4/8 : COPY package.json package-lock.json ./
 ---> Using cache
 ---> 48eee65e6cc3
Step

[2022-03-20 07:42] arminus commented on #61
right. missed that, too. Working now.

your dev version works. I have some other observations, but that has nothing to do with this ticket.

Thanks again for the quick help.

[2022-03-20 07:42] #61 closed

[2022-03-20 08:04] arminus opened #64 "Android client disconnects when screen goes off"
Client: v.0.6 Android 8.0
Server: Pi4

Backup stops as soon as the screen of my device turns off/locks.

Server reports
[code]

I'd expect it to continue to run in the background?

When I turn on/unlock the device, backup will continue, there is the following message in the server's log:

[code]

Backup continues for a while until the screen turns off again.

[2022-03-20 08:10] arminus opened #65 "VipsJpeg: out of order read at line 0"
Client: v.0.6 Android 8.0 / Samsung A5
Server: Pi4

Getting this for every image that is sent:

[code]

Might be related to [this|https://github.com/lovell/sharp/issues/1578] which correlates with my Samsung device. Maybe add an option failOnError: false like they did?

Also, does this error have any negative effect downstream? It appears as if my files get stored and thumbnails are created...

[2022-03-20 12:44] arminus commented on #65
Ok, so meanwhile everything was backed up and I observe an issue in the App - for no apparent reason, thumbnails are missing:
![Screenshot_20220320-134006](https://user-images.githubusercontent.com/683680/159162853-e9e832df-3b12-4b61-a8aa-32569c3c7eeb.jpg)

All pictures on that day were shot pretty much in sequence, no idea why there are thumbnails for some and nor for others, all are landscape an

[2022-03-20 12:51] arminus opened #66 "Server storage report is wrong for NFS mounted UPLOAD_LOCATION"
My target sync dir is an NFS mounted share, Immich reports free diskspace of the server host, not the actual UPLOAD_LOCATION. Basically, that could by anything, a fuse mounted S3, sftp, etc.

[2022-03-20 13:10] alextran1502 commented on #64
This is expected behavior for the current version. I have plans to work on background backup in future releases.

[2022-03-20 13:12] alextran1502 commented on #51
@ffidan61 can you open a new issue with more details of your system spec and the step you have taken?

Thanks

[2022-03-20 13:16] alextran1502 commented on #65
Can you try to sign out and sign back in from your phone?

[2022-03-20 13:17] alextran1502 commented on #66
Good issue! I will look into this

[2022-03-20 13:23] alextran1502 commented on #65
This issue, plus some order issues with sharp I've run into when working kn the app have made me to rethink of a different method to get the thumbnail images by generating the thumbnail from the phone based on the asset's data and send it along with the raw images. I am experimenting with this to see if there is a lot of difference in term on performance and uploading time.

[2022-03-20 17:33] arminus commented on #65
doesn't make a difference - should it rescan anything?

[2022-03-20 18:49] alextran1502 commented on #65
It would retry to refresh the cache.

However, I am experimenting with getting thumbnail images from the phone. The result is very promising, with the much faster upload speed and cut dependency from Sharp and FFmpeg.

[2022-03-20 20:21] ffidan61 opened #67 "[BUG] Docker-compose script execution failed"
**Describe the bug**
Can't spinn up an the immich docker container due to a docker-compose script execution error.

**To Reproduce**
Steps to reproduce the behavior/The way I tried to get immich to work:
1. git clone immich repo
3. cd into docker folder
4. edit .env
5. run docker-compose up -d

**Expected behavior**
Spinn up an immich docker container

**Desktop (please complete the following info

[2022-03-20 23:25] alextran1502 commented on #67
Can you try `docker-compose up --build -V` from the docker directory.

Did you change anything from the `docker-compose` file? Can you also share your `.env` file?

[2022-03-21 10:26] ffidan61 commented on #67
`docker-compose up --build -V` gave me this (same?) error:

Sending build context to Docker daemon  921.1kB
Step 1/8 : FROM node:16-alpine3.14 AS development
 ---> 61b24385412d
Step 2/8 : ARG DEBIAN_FRONTEND=noninteractive
 ---> Using cache
 ---> 7e4c97e5be92
Step 3/8 : WORKDIR /usr/src/app
 ---> Using cache
 ---> 0d12dcab5684
Step 4/8 : COPY package.json package-lock.json ./
 ---> Using cache
 --

[2022-03-21 10:40] ippocratis commented on #67
Docker daemon is running?

`sudo systemctl start docker`

[2022-03-21 11:00] alextran1502 commented on #67
Found this similar issue on [StackOverflow](https://stackoverflow.com/questions/67986387/docker-compose-up-build-states-an-error-but-it-works-after-i-use-docker-compos)

Probably an issue from how you install docker, I assume you used `snap`?

[2022-03-21 11:40] ffidan61 commented on #67
At least not consciously I'll see if that's the reason.

[2022-03-21 12:26] #67 closed

[2022-03-22 06:38] alextran1502 commented on #65
@arminus This issue should be fixed in the [latest release](https://github.com/alextran1502/immich/releases/tag/v1.3.0-dev)

If you have access to a Postgres client, you can delete all the rows in the assets table and reupload all the files. If not, you can follow the steps below on the command line to delete all the existing assets info in the database after running `docker-compose` command.

1.

[2022-03-23 11:45] arminus commented on #65
Ok, the errors are gone and all thumbnails are getting created.

All in all though it seems less stable. I repeatedly had these messages:

[code]

after which I had to restart both the container as well as the app for the sync to continue.

Also, the immich_server container permanently eats ~ 15% of my CPU, even if it doesn't do anything. Is that the development watch mode? How can I turn that of?

[2022-03-23 16:11] arminus commented on #65
Of course I deleted the contents from the assets table. I think that at some point during the sync (> 2000 images and videos), something "happend", i.e. it stopped from some reason. Maybe when it tries to restart it produces that error.

[2022-03-23 17:51] alextran1502 commented on #65
Thank you for the feedback, let me think about this issue.

[2022-03-23 19:54] alextran1502 commented on #66
This issue has been fixed in #72

[2022-03-23 19:54] #66 closed

[2022-03-26 16:02] arminus opened #74 "Constant high CPU load when idling"
Platform: Linux pi4 5.10.92-v8+ #1514 SMP PREEMPT Mon Jan 17 17:39:38 GMT 2022 aarch64 GNU/Linux
OS: Raspbian 11/bullseye

UPLOAD_LOCATION is an NFS filesystem, NODE_ENV=development

The docker node process from immich-server-dev:1.3.0 produces constant high CPU load:

![plot](https://user-images.githubusercontent.com/683680/160247515-aebcb76d-7276-4640-a34e-03884953bf7a.png)

Could this be node's

[2022-03-26 16:26] alextran1502 commented on #74
You can try to replace the content in `server/entrypoint.sh` to
[code]

let me know if this works and I will add make a `docker-compose` file for production.

[2022-03-26 16:33] arminus commented on #74
Thanks, CPU usage is now normal.

[2022-03-26 16:52] alextran1502 commented on #74
Glad it helps, I will add this information into the readme.

[2022-03-26 16:52] #74 closed

[2022-03-26 18:56] arminus opened #75 "Server crashes with long running backup, Android maybe running out of ressources"
Uploading 2096 images form an Android 8.0 Galaxy A5, device doesn't turn off on its own, [StayAlive](https://play.google.com/store/apps/details?id=com.synetics.stay.alive&hl=de&gl=US) is active, WiFi is stable (i.e. no connection drops or anything):

- all goes well until ~ 500 images at which point StayAlive apparently gets killed (no more resources from the OS?) and the device/screen turns off
-

[2022-03-26 18:56] arminus commented on #65
The original issue is resolved so I think this can be closed. See also #75

[2022-03-26 18:56] #65 closed

[2022-03-26 19:45] alextran1502 commented on #75
Thank you for your issue,

For the StayAlive problem, I assume you didn't plug in your phone, I think it could cause Android to force StayAlive to be turned off to preserve battery life.

I will look at the error and provide a catch for that error's exception. I am still not sure why it happened though.

I think Immich consumes a lot of energy because it has to get the thumbnail data by using the

[2022-03-27 07:22] arminus commented on #75
This is a stress test and I intentionally didn't plug the phone in to see what would happen. Regarding Android killing StayAlive, I'm not sure, I think it kills much more at that point, i.e. the phone was quite sluggish after that happened. But I really have no clue on Android power/RAM/CPU management, I just felt I needed to point that out. Could be some kind of memory leak on Immich's side...

R

[2022-03-27 14:41] alextran1502 commented on #75
My primary phone is not Android, so I did have some similar tests on an iPhone. I noticed that the phone also gets hotter due to the processing CPU having to work more.

In the grand scheme of things, like you pointed out, this might be the one-off scenario on the first backup. Subsequence backup won't run into the same heat-up issue.

I've been liking the approach of having the thumbnail generate

[2022-03-28 19:51] alextran1502 commented on #75
Should be fixed in #78. Please reopen if you have any additional issues with this.

[2022-03-28 19:51] #75 closed

[2022-03-28 23:55] kaysond commented on #14
LSIO does this for all their containers and its great

[2022-03-29 00:57] nchristopher commented on #33
Security keys would also be great, if it's not too much of a hassle.

[2022-03-29 01:31] Mattyfaz opened #82 "[BUG] immich_microservices_1: Cannot find module '/usr/src/app/dist/main'"
**Describe the bug**
immich_microservices_1 fails with message: `Cannot find module '/usr/src/app/dist/main'`

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. Run `docker-compose -f ./docker/docker-compose.yml up --build -V`
3. See error _(log attached)_

**Screenshots**
![Screen Shot 2022-03-29 at 12 27 56 pm](https://user-images.githubusercontent.com/10377148/160514131-ce0503c

[2022-03-29 02:01] alextran1502 commented on #82
Fixed in #83

Please pull the repo and try again, thank you!

[2022-03-29 03:27] alextran1502 opened #84 "Unraid Community Image"
Publish the app to Unraid Community.

Follow the guide [here](https://forums.unraid.net/topic/57181-docker-faq/#comment-566084)

[2022-03-29 03:28] alextran1502 commented on #51
Please reopen if you still have the issue.

[2022-03-29 03:28] #51 closed

[2022-03-29 03:30] alextran1502 commented on #14
@kaysond Can you help me find one that I can refer to?

[2022-03-29 03:31] alextran1502 opened #85 "Publish Android App to F-Droid"
Publish Android App To F-Droid

Follow the guide [here](https://gitlab.com/fdroid/fdroiddata/blob/master/CONTRIBUTING.md#merge-requests)

[2022-03-29 04:39] kaysond commented on #14
They've set it up in a very generic way in all of their base images. You can see an example of their bash script [here](https://github.com/linuxserver/docker-baseimage-alpine/blob/master/root/etc/cont-init.d/01-envfile) and [here](https://github.com/linuxserver/docker-nextcloud#environment-variables-from-files-docker-secrets) is an example of the usage.

[2022-03-29 04:41] kaysond commented on #14
Oh and [MariaDB's official image](https://github.com/MariaDB/mariadb-docker) also does the same thing (though they use a suffix instead of prefix)

[2022-03-29 04:49] Mattyfaz commented on #82
Confirmed working now! Thanks @alextran1502 :)

[2022-03-29 04:49] #82 closed

[2022-03-29 05:18] adyanth commented on #33
I would say instead of rolling your own, it is better to add OAuth2.0/OIDC support and let the identity providers/auth servers like Authelia or KeyCloak do that job of handling users/rules/2FA/security keys etc.

Username and password is indeed weak for 2022 :)

[2022-03-29 05:51] Mattyfaz opened #87 "[Feature] Swipe up for information like iOS photos app"
**Current Behavior:** When you have a photo open in Immich you tap the 3 dots in the top right corner to view image information.

**Requested Behavior:** Same as the iOS Photos app, when you have an image open you just swipe up to view image information.

I think copying this functionality suits Immich as the information appears on the bottom of the image anyway, making the swipe up functionality

[2022-03-29 14:01] alextran1502 commented on #33
@adyanth Thank man, I like this approach. I will look into incorporating them into the application.

[2022-03-29 19:18] alextran1502 commented on #85
Progress is being made in [New app: IMMICH - app.alextran.immich](https://gitlab.com/fdroid/rfp/-/issues/2065)

[2022-03-29 21:48] wiseindy opened #89 "[Enhancement] Add functionality to allow uploads from selected folders in Android"
**Current Behavior**: When you upload using your Android device, by default Immich uploads all the photos in your phone.

**Requested Behavior**: Add support to allow uploads from selected folders (e.g. Camera) so that images from other folders such as Whatsapp media folders do not get uploaded.

[2022-03-29 21:50] comfreak89 opened #90 "Build does not work"
.env file:

[code]

UPLOAD_LOCATION exists:
[code]

[code]

I dont know why the warnings appear, altough a .env file exists and the variables are filled:
[code]

[2022-03-29 22:24] JamesTeague commented on #84
Is there an existing Docker image on Docker Hub already or would one need to get it into a registry?

[2022-03-29 22:58] JamesTeague commented on #34
Adding to the request, this would be great. It's something that I think a lot of people want, being autonomy over their server file structure. This will allow other things to play nice with the files too, I believe. This is something I'd personally love to see in here and I think many others would to.

[2022-03-29 23:19] JamesTeague commented on #84
Also there seems to be a dependency on Postgres running in port 5432. Did I read that right? If so, that port should probably be configurable defaulting to 5432.

[2022-03-29 23:37] Klutronic commented on #90
Not seeing the warnings but I am getting the same error:

    Building immich_microservices
    ERROR: forbidden path outside the build context: ../microservices/Dockerfile ()

[2022-03-29 23:45] jrasm91 commented on #90
Probably need to run the `docker-compose` command up the top level directory, instead of inside the `docker/` folder.

[2022-03-29 23:50] comfreak89 commented on #90
I did as you can see in my commands. I am not in the docker folder when running the docker-compose command!

[2022-03-30 00:11] jrasm91 commented on #90
Ah, yes I see that now. My bad!

[2022-03-30 00:16] alextran1502 commented on #84
@JamesTeague There is no image that contains the whole application yet. I am working on the branch `deployment/containerize-app-into-single-dockerfile` to accomplish that goal.

It is correct that the Postgres port is 5432. You can access it on your local machine as well as throughout your local network with the VM IPV4

[2022-03-30 00:21] JamesTeague commented on #84
@alextran1502 Regarding the port that is true, but there will be people running Postgres in a container not using port 5432. It's generally not a good assumption that the database will be exposed on that port. So in the case of Unraid it would help users to know that this template requires their own postées instance but it shouldn't also dictate the port they have to expose on the container. Or if

[2022-03-30 00:49] alextran1502 commented on #90
@comfreak89 I see that you downloaded the release, it was having a problem. I am about to push out another release to solve that problem. You can check out the main branch in the meantime to run.

@Klutronic Did you also download and use the release version?

[2022-03-30 02:07] somesmart opened #91 "Build fails with error: database "immich" does not exist"
I've tried deleting the container and recreating it but I'm getting the same error. Here is my docker compose:
[code]

And my .env:
[code]

[2022-03-30 02:20] Klutronic commented on #90
@alextran1502 I cloned the repo to run it

I am on Ubuntu 20.04.2:

:~/docker/immich/immich$ docker-compose -v
docker-compose version 1.25.0, build unknown
:~/docker/immich/immich$ docker -v
Docker version 20.10.7, build 20.10.7-0ubuntu5~20.04.2

[2022-03-30 02:35] alextran1502 commented on #91
@somesmart You have to populate the `JWT_SECRET` and put `ENABLE_MAPBOX=false` if you don't want to use it.

Can you try to delete the volume with `docker volume rm docker_pgdata` and try again?

[2022-03-30 02:37] alextran1502 commented on #90
Did you install docker with `snap`? Maybe related to #67

[2022-03-30 07:19] fuji246 opened #92 "[BUG] can't launch with docker compose"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

only changed UPLOAD_LOCATION in ".env", then run "docker-compose -f ./docker/docker-compose.yml up --build -V"

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-03-30 09:54] DB-Vincent commented on #92
Hi, did you fill in the `DB_DATABASE_NAME` property? You'll also have to fill in the `JWT_SECRET` and `ENABLE_MAPBOX` (optionally also the `MAPBOX_KEY`) properties!

[2022-03-30 12:18] alextran1502 commented on #92
Do you have an M1 or Intel Mac?

Does this problem persist when you run docker-compose command again?

Can you share your .env file?

[2022-03-30 12:28] comfreak89 commented on #67
Hi,

I tried 1.4.0-7-dev and a direct clone of the repository now. Same issue.

Direct clone:
[code]

1.4.0-7-dev:
[code]

I am still corious why it says, that the variables in the .env are not set, althout it is available:

Direct clone:
[code]

1.4.0-7-dev:
[code]

No, I installed docker via apt. Snap is not available.

[code]

In my case, the host is a LXC Container on the newest Proxmox Versio

[2022-03-30 12:29] comfreak89 commented on #90
Hi,

I tried 1.4.0-7-dev and a direct clone of the repository now. Same issue.

Direct clone:
[code]

1.4.0-7-dev:
[code]

I am still corious why it says, that the variables in the .env are not set, althout it is available:

Direct clone:
[code]

1.4.0-7-dev:
[code]

No, I installed docker via apt. Snap is not available.

[code]

In my case, the host is a LXC Container on the newest Proxmox Versio

[2022-03-30 13:03] alextran1502 commented on #90
@jrasm91 can you try to run this in a VM instead of LXC. I've had problems running Docker in LXC.

Please take a look at the Known Issue with PromoxVM in the last section of Readme file

[2022-03-30 13:57] Klutronic commented on #90
@alextran1502 I installed Docker with APT

[2022-03-30 13:58] alextran1502 commented on #90
@Klutronic Are you running this on a VM/LXC or your desktop environment?

[2022-03-30 14:17] alextran1502 commented on #90
@Klutronic Then there shouldn't be any problem. Hmm, this is strange. Can you try to reclone the repo and run it again?

Can you also share your `docker-compose` and `.env` file?

[2022-03-30 14:41] darrylgibbs opened #94 "[BUG] Failure to build app on RPi4, Ubuntu 21.10 Server. Log: Error: Unsupported system: cpu-linux-arm64"
**Describe the bug**
Following the install instructions exactly, I get an error when building the app.

The error is as follows, on steap 7/9: RUN npm install
The command '/bin/sh -c npm install' returned a non-zero code: 1
ERROR: Service 'immich_microservices' failed to build : Build failed

Docker-compose.yml is unchanged, and .env has a DB name entered, a JWT code and commented out MAPBOX.

**D

[2022-03-30 14:51] HowWof opened #95 "Container docker_immich_microservice crush"
Hello I have a problem in which this container crashes giving this information
Illegal instruction (core dumped)

Illegal instruction (core dumped)
The interesting thing is that besides the startup. Immich works without this container

[2022-03-30 15:15] alextran1502 commented on #92
Ok, you need to set `DB_DATABASE_NAME`, also `JWT_SECRET` and `ENABLE_MAPBOX` to false if you don't use that feature.

After you do that if the problem still persists, can you comment out the `immich_microservices` section in `docker-compose` file?

This whole section below:

[code]

Let me know how it goes.

[2022-03-30 15:17] alextran1502 commented on #94
You are not doing anything wrong, TensorFlow 2 currently doesn't support Rpi4 64bit

Can you comment out the section below in `docker-compose` file and try again? This will run the server for core backup operation but the object detection and image tagging will be disabled.

I am following the process of supporting Tensorflow 2 in Docker for arm64-v7

[code]

[2022-03-30 15:26] alextran1502 commented on #90
@Klutronic Is there a reason you changed the version from 3.8 to 3.7?

Can you try commenting out the `immich_microservices` section to see if it makes any difference?

[2022-03-30 15:53] HowWof opened #96 "Remembering login data"
Hello
I would like to offer an option to the application as in the title.
I want to not logging out every time when you exit the application and remembering the data by which you logged in

[2022-03-30 15:55] comfreak89 commented on #90
I also tried that. No difference despite that it tries to build the immich_server:

[code]

[2022-03-30 15:56] alextran1502 commented on #90
@comfreak89 Yeah, so it would probably be a problem with LXC then. Strange!

[2022-03-30 15:58] Klutronic commented on #90
@alextran1502 Yes, I am not on a version of docker-compose that supports 3.8 so I went down to 3.7.

After commenting out the immich_microservices:

    sudo docker-compose -f ./docker/docker-compose.yml up --build -V
    WARNING: The UPLOAD_LOCATION variable is not set. Defaulting to a blank string.
    WARNING: The DB_PASSWORD variable is not set. Defaulting to a blank string.
    WARNING: The D

[2022-03-30 16:01] alextran1502 commented on #95
Can you check this [Known Issue](https://github.com/alextran1502/immich#known-issue) in the readme and check if there is anything different?

[2022-03-30 16:02] alextran1502 commented on #96
Yep, will put that in.

[2022-03-30 16:20] HowWof commented on #95
Cpu:AMD Ryzen 7 3800X
architecture x86

[2022-03-30 16:39] alextran1502 commented on #95
My suspect is that this is a 32-bit system so there might be a problem there. I haven't tested on a 32-bit system. Most of my tests run on a 64-bit system. Is this a permanent system or can you change to a different 64-bit vps?

[2022-03-30 16:40] alextran1502 commented on #95
I found this on Tensorflow website
![image](https://user-images.githubusercontent.com/27055614/160887244-e7c235a3-d355-4342-98a4-81e98ef2896f.png)

[2022-03-30 17:12] HowWof commented on #95
Can I just delete this container if it doesn't work anyway?
Do you plan to make versions without tensorflow?

[2022-03-30 18:06] alextran1502 commented on #95
Yes, you can delete that container since it deals with Machine learning features without affecting the core functionalities. However, without TensorFlow, it cannot really perform object detection and image classification and future facial recognition.

[2022-03-30 18:08] alextran1502 commented on #90
@comfreak89 Yes, I think your proposal is better. I will add them in future updates.

@Klutronic Can you try the solution proposed by @comfreak89 above?

[2022-03-30 18:48] Klutronic commented on #90
@alextran1502 It seems to be up and running but I am getting the following error when I try to go to the site:

    {"statusCode":404,"message":"Cannot GET /","error":"Not Found"}

[2022-03-30 18:50] comfreak89 commented on #90
Great!

The error is absolutely correct - there is no WebUI right now. You have to create a user with the curl command and from there on you can use the mobile app.

Change IP, email and password to your needs:
[code]

[2022-03-30 18:50] alextran1502 commented on #90
@Klutronic You will need the mobile app (since this application is for mobile's media file backup), there is no web interface just yet

[2022-03-30 18:51] Klutronic commented on #90
Ahhhhhh, OK!  I created the user already so I am good to go!  Thanks guys, I really appreciate the help!

[2022-03-30 18:51] alextran1502 commented on #90
Thanks, @comfreak89 and @Klutronic for improving the project :) cheers!

[2022-03-30 18:51] #90 closed

[2022-03-30 20:30] fuji246 commented on #92
not working for me,

[code]

[code]

[2022-03-30 21:06] alextran1502 commented on #92
Probably similar to this? [Compose error "HTTP request took too long to complete"](https://github.com/docker/compose/issues/3633)

Can you restart your docker desktop program and try again?

[2022-03-30 21:20] somesmart commented on #91
That fixed it thank you!

[2022-03-30 21:20] #91 closed

[2022-03-31 05:35] fuji246 commented on #92
[code]

[2022-03-31 09:40] HowWof commented on #95
Docker exit code 132
nest_microservices@0.0.1 prebuild
rimraf dist
nest_microservices@0.0.1 build
nest build
nest_microservices@0.0.1 start:prod
node dist/main
Illegal instruction (core dumped)

[2022-03-31 12:47] erikthegamer1242 commented on #33
Please implement Authelia and KeyCloack they are the kings when it comes to self-hosted 2FA

[2022-03-31 12:55] adyanth commented on #33
With OIDC in place, it should work with both of them and many many more :)

[2022-03-31 13:57] alextran1502 commented on #92
Ah, probably because the first run you didn't specify the database name so it didn't create the database.

You can remove the database volume so it can recreate with

**docker volume rm docker_pgdata**

Then run the docker-compose command again

[2022-03-31 14:50] ippocratis commented on #33
I just finished seeing up [caddy-security](https://authp.github.io) plugin
It does not require any integtagration in the immich side
You just reverse proxy to the imich port on localhost and authorise it with mfa

Reference [config](https://t.me/s/ippossackofhacks/591)

[2022-03-31 23:49] fuji246 commented on #92
works now, thanks! Would be better if the .env.example can be updated with default settings so that it can run without any changes,  the only mandatory one should be `UPLOAD_LOCATION`, others can have default values.

[code]

[2022-03-31 23:50] #92 closed

[2022-04-01 03:08] alextran1502 opened #97 "[BUG] immich_microservices container data leak leads to slow/unresponsive server."
**Describe the bug**
`immich_microservices` container data leak leads to slow/unresponsive server.

Possibly related to Tensorflow's Node.js implementation

**To Reproduce**
Steps to reproduce the behavior:
1. Run backup for an extensive period of time, the server will eventually crash.

**Expected behavior**
App continues to function

**Reference Source**
[Memory Leak (keep increasing even after

[2022-04-01 03:10] alextran1502 opened #98 "[BUG] iOS failed to upload burst photos"
**Describe the bug**
iOS failed to upload burst photos

**Expected behavior**
Successfully upload assets

**Screenshots**
![image](https://user-images.githubusercontent.com/27055614/161187832-0817bb16-9ddb-44b2-9742-a1c60333ee09.png)

[2022-04-01 03:19] alextran1502 commented on #98
Actually, there was a different issue `Error: Missing cpl resource required for CPL download`.

iOS can upload burst files normally.

[2022-04-01 03:24] #98 closed

[2022-04-01 03:42] alextran1502 opened #99 "[PERFORMANCE] Slow backup when the backup list is long - mobile app."
**Performance Problem**
Websocket causes slow backup when the backup list is long, due to continuous rerendering of the assets list on the home page.

**Suggestion**

1. Stop listening to WebSocket `on_upload_success` event when navigating to `backup_controller_page`
3. Refetch all assets after poping back from `backup_controller_page`

[2022-04-01 04:26] alextran1502 commented on #75
@arminus Found the problem that causes server crashes during a long backup session in #97. The fix will be in the next release.

[2022-04-01 04:34] fuji246 opened #101 "[BUG] Android can't login"
**Describe the bug**
A clear and concise description of what the bug is.

Can't login, see the logcat output below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your probl

[2022-04-01 04:46] alextran1502 commented on #101
Can you navigate to http://10.0.0.223:2283/server-info/ping on your web browser and show me the response on the website?

[2022-04-01 04:52] fuji246 commented on #101
It responded with `{"res":"pong"}`. The Android APP login succeed once, and I don't see any photos show up, so I restart it, then it can't login again.

[2022-04-01 05:01] alextran1502 commented on #101
Maybe I ask which APK release and which server version did you use?

When you restart the server and try to login again, does it work?

[2022-04-01 05:24] alextran1502 commented on #64
A potential package that solves this problem [flutter_uploader](https://github.com/fluttercommunity/flutter_uploader)

[2022-04-01 05:45] HowWof opened #102 "The immich_postgres container consumes all server resources"
I don't know if it's a bug or a configuration problem but immich_postgres is consuming all server resources below the logs
[Logs](https://cloud.howwof.pl/f/7a0fc9a9767247feac52/)

[2022-04-01 05:52] alextran1502 commented on #102
Can you monitor with `docker stats` to see how much CPU/RAM `immich_postgres` is pulling?

If I remember correctly, you are running on Ubuntu Server 20.04, correct?

[2022-04-01 05:58] alextran1502 commented on #85
F-droid build is a success

The next step is to open a MR for metadata of the app in the [F-droid data repository](https://gitlab.com/fdroid/fdroiddata)

[2022-04-01 06:11] HowWof commented on #102
67% to 93% of the processor.
RAM Consumption 2.7 GB swap 500 MB
You remember the system correctly

[2022-04-01 06:36] fuji246 commented on #101
I just download everything yesterday on github page, so it should be the latest. The commit is "fc1acf6f012c415df8c776ecea679c6f348dd921".

Tried to restart server and client, neither works for me. Any founding in the Android log above?

[2022-04-01 15:59] alextran1502 commented on #101
Not yet, I will have to set up an Android 11 simulator and try to reproduce this issue.

[2022-04-01 16:07] alextran1502 commented on #102
Is this behavior happening during idle or during the backup process?

[2022-04-01 16:28] HowWof commented on #102
During idle time

[2022-04-01 17:36] alextran1502 commented on #102
Interesting, I am seeing mine at 0% during idle. Let me investigate this.

What is your docker and docker-compose version?

[2022-04-01 18:56] fuji246 commented on #101
Wifi connected to another subnetwork different with the server.

[2022-04-01 18:56] #101 closed

[2022-04-01 21:26] alextran1502 commented on #94
@darrylgibbs Any progress on this?

[2022-04-02 14:43] darrylgibbs commented on #94
Not yet, it still keeps crashing. I've got a few more ideas to try and then I'll report back. Hopefully today still.

[2022-04-02 14:50] alextran1502 commented on #85
Merge Request open at (fdroiddata)[https://gitlab.com/fdroid/rfp/-/issues/2065]

[2022-04-02 17:31] #97 closed

[2022-04-02 20:32] HowWof commented on #102
Docker version 20.10.14, build a224086
docker-compose version 1.29.2, build 5becea4c

[2022-04-03 17:37] #99 closed

[2022-04-03 18:00] alextran1502 commented on #95
The crash issue is probably fixed in #97

[2022-04-04 00:49] alextran1502 opened #105 "[BUG] Duplicated file name i.e "FullSizeRender" on iOS causes error of loading images"
**Describe the bug**
Screenshot with a duplicated name like FullSizeRender overwritten image of the file on the server. This behavior caused incorrect image render on the timeline

**Device**
iOS

[2022-04-04 03:31] #95 closed

[2022-04-04 13:18] Eidenz opened #106 "[BUG] Backup stuck after 8 elements"
I have a total of 218 assets I want to backup but after uploading 8 of them, the app is stuck at 100% on asset 210.
I cannot see anything in the logs: none of the docker containers shows anything during the upload attempt period (except for redis which says it successfully saved the changes).

I let the app run for over 30min to see if it was just a very slow/long upload, but the problem is still

[2022-04-04 13:39] alextran1502 commented on #106
Is this photo or video something you can share? Or can you get me the file information from the phone?

[2022-04-04 13:51] alextran1502 commented on #106
The assets are uploaded based on chronological order, newest to oldest, you can take a look at all the assets that have been backup and see which one it is trying to upload and track them down from your gallery.

[2022-04-04 13:58] Eidenz commented on #106
I've traced it back to a random meme picture in webp format (ZBsUr45_d.webp). Do you need it?

[2022-04-04 14:03] Eidenz commented on #106
Oh okay, that makes sense. Thanks c:

[2022-04-04 14:10] Eidenz commented on #106
I'm actually having the same issue with another picture, but it's a `jpg` this time..

This one was taken by my phone (it's a photo of my cat).

[2022-04-05 04:45] alextran1502 commented on #106
This issue is fixed in #108. I will push out an updated version of the app in the next few days :) Sorry for the inconvenience

[2022-04-05 04:45] #106 closed

[2022-04-05 07:50] ma-karai opened #109 "[Enhancement] Better docker compose deployment."
**Enhancement for easy deployment**

Firstly amazing development! Really great stuff

As far as I can see, to update my current installation I have to pull the repository again and rebuild the images and then redeploy, which I admit is quite easy. However, to set up automated image builds on hub.docker.com is also quite straightforward and would reduce the clutter on my (selfish) hard drives quite

[2022-04-05 08:28] thefirstofthe300 opened #110 "[BUG] Backup in upload loop on specific asset"
**Describe the bug**
Backup of a specific asset (unknown if picture or video) from Android app goes from 0-100% and then restarts.

**To Reproduce**
I'm sure if I knew what asset it was trying to upload, I could give you the file to troubleshoot.

**Expected behavior**
Backup completes

**Smartphone (please complete the following information):**
 - Device: Pixel 6 Pro
 - OS: Latest Android 12

Fir

[2022-04-05 10:00] Eidenz commented on #110
Pretty sure that's the same as #106, which was fixed a few hours ago and is awaiting APK rebuild.

[2022-04-05 13:38] alextran1502 commented on #110
@thefirstofthe300 @Eidenz is correct, I will push out a new release soon

[2022-04-05 16:45] alextran1502 commented on #110
@thefirstofthe300 @Eidenz The issue should be fixed in the [latest release](https://github.com/alextran1502/immich/releases/tag/v1.6.0_10-dev)

[2022-04-05 18:08] alextran1502 commented on #109
I've managed to whip up a Github workflow for pushing the images to Dockerhub.

You can try it out

* [immich-microservices](https://hub.docker.com/repository/docker/altran1502/immich-microservices)
* [immich-server](https://hub.docker.com/repository/docker/altran1502/immich-server)

[2022-04-05 19:57] #105 closed

[2022-04-06 03:04] chasx003 opened #117 "[BUG] Can't deploy in kubernetes because of "_" characters"
**Describe the bug**
This application can't be deployed in a Kubernetes cluster as the service names have underscores hardcoded, and underscores can't be used in a kubernetes service name.

Ideas for a fix would be changing resource names to things like "immich-redis"  , or to make it a less breaking change, allow the services to be optionally set via environment variables, with default values bei

[2022-04-06 07:09] Akruidenberg commented on #34
+1 for me.

[2022-04-06 12:32] alextran1502 commented on #110
Hmmm 🤔 can you share the image?

[2022-04-06 13:32] ma-karai commented on #109
Works like a charm!

file structure needed: (only the nginx config, and the env file)
![image](https://user-images.githubusercontent.com/17119942/161986270-bfaa70cb-46b4-4286-bc33-3b48aeccb87c.png)

and the simple docker compose file

[code]

[2022-04-06 13:41] alextran1502 commented on #109
I am glad it works for you! Please reopen this issue if you have any additional suggestions :) I will integrate this to the upstream setup

[2022-04-06 13:42] #109 closed

[2022-04-06 13:44] alextran1502 commented on #117
Interesting, I haven't touched K8 so I don't know knowledge about what is allowed in the setup. I am happy to accommodate though. Can you please show a snippet example of how the service name should be in the docker-compose file?

[2022-04-06 13:47] alextran1502 commented on #34
Noted, this is a different scope of the project though. I will let you know when I implement a CLI tool for this.

[2022-04-06 22:52] alextran1502 commented on #110
@Eidenz This is a strange problem because I don't have any problem backing up the photo on my device (Samsung S9) and Android emulator. You said it is stuck on the image and not backing up anything else, correct?

Do you have a way to get the log file and send them to me?

[2022-04-06 23:01] Eidenz commented on #110
Hm.. I've retried to get some logs and it just started syncing without issue.

I was at work earlier, so maybe my the network there was blocking the request or something. Sorry about that, all good then xp

[2022-04-07 01:21] alextran1502 commented on #85
F-droid repository has been merge to the main repo https://gitlab.com/fdroid/fdroiddata/-/merge_requests/10847

[2022-04-07 01:21] #85 closed

[2022-04-07 01:46] chasx003 commented on #117
[code]

something like this would work, but the issue I think is really from
some of these hardcoded paths

https://github.com/alextran1502/immich/blob/a3b84b3ca7c23f6de8f741364db100a305068604/server/src/app.module.ts#L30
https://github.com/alextran1502/immich/blob/fe693db84f4ceadb7e48742b84020e7687be4521/server/src/middlewares/redis-io.adapter.middleware.ts#L11
https://github.com/alextran1502/imm

[2022-04-07 02:29] alextran1502 commented on #117
Ah I see. I am having a similar issue while trying to put the whole app in the container. I think the environment variable will be able to fix this. I don't have time to work on this at the moment but as soon as I have this figured out, I will let you know

[2022-04-07 02:48] alextran1502 opened #118 "Shared album"
1. The user creates a shared album.
2. The user adds additional people to the shared album.
3. Shared users can download the asset but cannot delete the image in the shared album.

Checklist
[ ] Set `synchronize` in database setting to `false`

[2022-04-07 05:29] docfactory37 opened #119 "docker compose build completed but have error in immich server"
**To Reproduce**
Steps to reproduce the behavior:
1. completed a docker .env file update
2. completed a docker copose build
3. all items are runing but i get a error on the immich server see screenshot below

![image](https://user-images.githubusercontent.com/20963053/162126694-c9d68e03-b592-4c97-9d3d-bf996e11d2be.png)

Not sure what JWT_SECRET should have not able to fine anything in the doc

[2022-04-07 05:56] docfactory37 commented on #119
i have been able to get pas the above issue but add a random string but now i get the below when i try and access the server by the nginx

when i go to http://<server-IP>:2283/ i get the below

![image](https://user-images.githubusercontent.com/20963053/162129996-ffe3474e-b892-4f55-942b-b76d2eb34566.png)

[2022-04-07 12:11] alextran1502 commented on #119
You will need the mobile app. There is no web interface for this application. 🙂

[2022-04-07 14:08] ShiniGandhi opened #120 "Selective Backup in App"
I think being able to select which directories on my phone are backed up would be extremely useful. I have over 10,000 photos from WhatsApp and I really don't want all of them backed up.

[2022-04-07 21:33] docfactory37 commented on #119
O well that explains that 🙂 is there plans for one to be added / created?

[2022-04-07 23:22] alextran1502 commented on #119
Yes, I do have a plan for the web interface.

It is not working in the background. It is quite challenging since Apple and Android have made effort to reduce the scope of what applications can do in the background to prevent them from "spying" on the users. But I think I found a potential solution, it is on the low priority though, so it might get implemented sometime in the future :)

I am glad i

[2022-04-07 23:22] #119 closed

[2022-04-10 14:48] marcusisinger opened #121 "[Feature] Swipe between photos"
Mimick default photo app to be able to swipe between photos in timeline when a photo is shown full screen.

[2022-04-10 22:14] chasx003 commented on #117
(Offtopic, and this is totally my opinion, this is your app, so please feel free to ignore this if you want, doesn't hurt my feelings.)
From looking at one of the branches you have, it looks like you're trying to put the entire stack into one container.  IMO, I wouldn't do that, its not considered "docker best practice", and I feel like it puts a lot more work on you as a dev to keep your containe

[2022-04-10 22:53] alextran1502 commented on #117
I was testing the idea of building  an image for Unraid's users. I agree with you that it is more complicated to maintain. I have no plan of deprecated docker-compose setup though, it is my preferred method.

[2022-04-11 03:24] chasx003 commented on #117
Ah, gotcha, I forget about unraid :)

I've tested this [https://github.com/chasx003/immich/tree/117-service-names](https://github.com/chasx003/immich/tree/117-service-names)   in my environment, and am able to to spin it up in k8 now, I think because of the environment variables in the Dockerfiles, this won't cause any issues to any existing docker-compose deployments, but I didn't actually test t

[2022-04-11 04:54] notarobot63 commented on #110
Hi, I think I got the same issue here. Backup is stuck at 2558 assets remaining and is looping. Newly taken photos are backed up without a problem though. I m on last versions both on phone and one server.
Let me know how I can provide more information that can help.

[2022-04-11 08:58] alextran1502 commented on #110
@notarobot63 Can you get me the metadata of the video? I.e file extension, file size...etc? Is this video something you can share?

[2022-04-11 09:55] notarobot63 commented on #110
@alextran1502 Nevermind I'm not sure that this file is the problem as I'm not sure it's the one beeing backuped. If I read you correctly Immich backup files chronologically, but I'm missing files after Feb 27, 2022 and no more backup before this date. Not sure on how to debug this

[2022-04-11 10:06] alextran1502 commented on #110
@notarobot63 can you check in your photo gallery app of your phone what is the next asset right after the last asset that is shown on Immich's timeline?

What is your phone model?

[2022-04-11 10:34] notarobot63 commented on #110
Here are the video's metadata
![Screenshot_20220411-123019](https://user-images.githubusercontent.com/51323017/162722642-1ddec1b4-f5a2-4edf-ae2f-1eda34016112.jpg)
I'm one OnePlus 7T android 11

[2022-04-11 10:40] notarobot63 commented on #110
Nevermind, client_max_body_size on my reverse proxy solved it. Sorry I didn't thought about it before.

[2022-04-11 10:42] alextran1502 commented on #110
@notarobot63 No problem, I ran into that issue a while back as well :) I am glad it is working for you!

[2022-04-15 12:23] Eidenz commented on #102
The exact same issue happened to me today. 99% CPU on idle from postgres.

Docker version 20.10.14
Docker-compose version 1.29.2, build 5becea4c
OS: Ubuntu 20.04.4 LTS x64

[2022-04-15 15:36] alextran1502 commented on #102
@Eidenz Can access to the database container with

[code]

then

[code]

And let me know the output?

[2022-04-17 17:41] HowWof commented on #102
docker exec -it immich_postgres psql -U postgres
give:
psql (14.2 (Debian 14.2-1.pgdg110+1))
Type "help" for help.
select * from pg_stat_activity WHERE state='active';
give:
LINE 1: docker exec -it immich_postgres psql -U postgres
        ^

[2022-04-24 02:09] #118 closed

[2022-04-24 06:04] Nonobis commented on #96
@alextran1502  hello, maybe fingerprint identification ? Thanks for you work by the way, your app is great

[2022-04-25 02:33] #96 closed

[2022-04-25 02:54] alextran1502 commented on #117
I am closing this issue, if you have any further questions, please reopen the issue.

[2022-04-25 02:54] #117 closed

[2022-04-25 02:55] alextran1502 commented on #110
I am closing this issue, if you have any further questions, please reopen this issue.

[2022-04-25 02:55] #110 closed

[2022-04-26 02:09] DistractedCanuck opened #127 "StatuCode 404 error when trying to access the web UI"
**Describe the bug**
I am trying to start the server and am getting the following at the server address (http://my-ip:2283/):
{"statusCode":404,"message":"Cannot GET /","error":"Not Found"}.

This error happens from an external computer on the network, from the host with curl localhost:2283 as well as trying to access the server directly by opening port 3000.

I am not getting any messages that se

[2022-04-26 04:01] alextran1502 commented on #127
@DistractedCanuck Hello, There is no web UI for this application. This is a backup tool for mobile phones, so you can download the app on the Apple App Store, Google Playstore or F-droid to use the app :)

[2022-04-30 02:45] darrylgibbs commented on #94
Well, after switching to RPi OS 64bit, it builds now, but I'm getting errors to load the web page.  I'll fiddle more and load an issue if I can't figure it out.

[2022-04-30 02:45] #94 closed

[2022-04-30 07:22] datsoy opened #135 "No matching manifest for linux/arm64/v8"
Throws a "no matching manifest for linux/arm64/v8 in the manifest list entries" when I try to run on my arm oracle vps.

![Screenshot_20220430-150614112 (1)](https://user-images.githubusercontent.com/67457715/166096075-09248cd2-5ee6-42dc-a20e-2638ca31134e.jpg)

[2022-04-30 08:15] GregTroar commented on #120
Yep exactly same for me, would like to backup only camera photos, not all whatsapp

[2022-04-30 13:28] alextran1502 commented on #135
This is the correct behavior since I didn't have this architecture built on Dockerhub. Can you please try

[code]

I assume there will be an issue with the microservices service since Tensorflow doesn't fully support Arm-based architecture. If so, you can just comment out the microservices service in the `docker-compose.dev.yml` file

[2022-04-30 15:21] datsoy commented on #135
I see, thank you.

It did build and deploy immich after commenting out microservices, but failed to access the server. Maybe its oracle's firewall, is their any port should I open aside from 2883? udp&tcp?

[2022-04-30 19:46] alextran1502 commented on #135
Can you check if you open the port correctly, it is 2283 not 2883

[2022-04-30 22:47] datsoy commented on #135
Yup, I opened wrong port. Haha. 😅
Its working now, gonna try and test it.
Thanks.

[2022-04-30 22:47] #135 closed

[2022-05-02 19:46] League2EB opened #138 "about MapBox not work !"
I went to [MapBox](https://www.mapbox.com/) to register

When I fill in the following two fields, and restart docker-compose
I don't see any effect in the iOS Application

[code]

Is the value of MAPBOX_KEY the token in the picture?

thx all !

![image](https://s2.loli.net/2022/05/03/C7SGUvRYtDN13QZ.png)

[2022-05-02 22:01] alextran1502 commented on #138
The token is correct, you have to have the mapbox enabled before upload photos or videos to the server.

The mapbox operation is on the server side, it is used to get the city, state from the asset's coordinates (this process is called reverse geocoding) so that you can search by city or state.

In your case, you can try access the Postgres database and delete all rows in the assets table, or simp

[2022-05-03 11:42] League2EB commented on #138
Thank you very much for your assistance. The problem has been solved.

[2022-05-03 11:42] #138 closed

[2022-05-06 09:10] spupuz opened #139 "[new feature] web interface"
web interface for user creation and for looking the backed up photos via browser

[2022-05-06 11:59] alextran1502 commented on #120
Album selection has been implemented and will be available in the next release (later today, or tomorrow)
![Selection Backup](https://user-images.githubusercontent.com/27055614/167127246-f07fef38-853b-4095-89fe-26f2809f87e1.png)

[2022-05-06 12:22] #89 closed

[2022-05-06 12:22] #120 closed

[2022-05-06 12:34] LouisFaure commented on #64
Also, restricting backups to situations like battery charging and/or a non-metered wifi connection would be a must!

[2022-05-07 06:53] Nonobis opened #145 "[New Feature] Second server for backup"
Maybe an options for a second server for server backup ?

[2022-05-07 10:10] simonfromwales opened #146 "[BUG] Android App not showing any assets at all"
I've set up a Immich server on a Debian 11 VM on Proxmox. I have changed the CPU type to host as per the known issue in the readme.
The android app has the location and storage permission set to allowed.
When I click on select in the backup albums box, I get 'total unique assets 0' and nowhere to select any folders.
The 'backup progress:' is showing a spinning circle and doesn't seem to progress a

[2022-05-07 10:36] jbaez opened #147 "Add ability to create albums"
Albums are a great way of organizing photos. This could be implemented like in Google photos:
- when viewing a single photo, add option to "add to album" (can be added to a shared album or "normal" album)
- when viewing a single photo from inside an album, add option to "Remove from album"
- from inside an album, add option to add photos (exactly like in the current "shared album")
- from  inside

[2022-05-07 10:47] jbaez commented on #38
I think albums #147 could be an alternative to replicating the folder structure in the server. That way from the client app, the photos can be organized in albums. Also, now that the "selective folders backup" feature has been implemented #137, there is no need of uploading all folders from the device.

[2022-05-07 12:12] alextran1502 commented on #146
Can you share the screenshot of album selection screen? When you tap on the album, it would select it

[2022-05-07 12:17] alextran1502 commented on #145
Hi, if I understand you correctly, you want to back up all of the assets that have been uploaded to the Immich server, correct? If so, this is open to the users to implement their own backup solution since there are so many options in this space.

[2022-05-07 12:22] alextran1502 commented on #147
I like this idea. Let me see how to refactor the shared albums feature to implement this one

[2022-05-07 12:44] jbaez commented on #147
@alextran1502 I was just looking into the code, if you want I can do the refactor and do a PR. It seems straightforward. The DB looks fine (although the tables could be renamed). Mostly just needs renaming "sharing" into "album" and changing the API.
I think the `/shared/...` API can just become `/album/:id/...`
What do you think?

[2022-05-07 12:59] alextran1502 commented on #147
Ok the backend it is very straightforward. I was mentioning about the mobile app 🤓

[2022-05-07 13:04] jbaez commented on #147
OK cool. I'll do the backend and update the mobile app to use the "new" API first 😃

[2022-05-07 15:08] RealOrangeOne opened #148 "Feature: Prevent signup"
Currently, it's possible for anyone with access to the server's API (which if it's connected to the internet, is everyone) to create a user account and begin using immich.

It'd be great if it were possible to prevent registration, probably through an environment variable. This way, the admin can manage creating accounts themselves, and then just keep the API disabled everywhen else.

[2022-05-07 18:57] Nonobis commented on #145
Ok I understand. Thanks :)

[2022-05-07 18:57] #145 closed

[2022-05-07 19:10] simonfromwales commented on #146
Thank you for your response.

Screenshot attached, there's no albums available to select.

![Screenshot_20220507-160320](https://user-images.githubusercontent.com/99139154/167268538-21c9485d-8b10-4faa-9e1d-e76cf5e0ae7c.png)

[2022-05-07 19:40] alextran1502 commented on #146
Hmm, it looks like it cannot see any albums on your device. Can you  uninstall and reinstall the app? When it asked for your permission to access the albums on the device when first navigate to the backup screen, can you set as allow all?

[2022-05-07 20:07] simonfromwales commented on #146
I did think it was odd that the app didn't ask for any permissions at all.
So I manually set the two (location and storage) permissions to allowed.

I've just uninstalled and installed the app again. Still the same, didn't
ask me for permission.

On Sat, 7 May 2022, 20:40 Alex, ***@***.***> wrote:

[2022-05-07 21:39] alextran1502 commented on #146
I will take a look, can you let me know what is your device info?

[2022-05-07 21:56] alextran1502 commented on #146
I find this very strange, I've just tested again on both my Samsung S8 and Android Simulator, and both asked for permission when I opened the backup page. Can you go into **Settings -> Apps -> Immich -> Permissions** and help me take a screenshot of the allowed list?

[2022-05-08 08:15] simonfromwales commented on #146
I am using Android 10 on Motorola Moto.

![image](https://user-images.githubusercontent.com/99139154/167287686-71acfd29-ec2c-43f8-b2cc-ab5f05b39e44.png)

[2022-05-08 11:15] alextran1502 commented on #146
Thank you, let me try the same version of Android on simulator and I will let you know

[2022-05-08 11:37] alextran1502 commented on #146
Found the bug in Android 10. I will work on it and push out a hotfix

[2022-05-08 11:55] alextran1502 commented on #146
The fix is being reviewed on PlayStore, I expect it will be approved in the next couple of hours. I will let you know once it is through.

[2022-05-08 12:14] Atemu opened #151 "[QUESTION] Illegal instruction (core dumped)"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

I am running this on a machine with a low-power Celeron CPU that does not have AVX instruction support, so that seems like a likely cause.
I assume this is the ML stuff? Is it possible to disable AVX instructions for these? Could I pass through the intel iGPU to do this on instead?

[2022-05-08 12:24] Atemu commented on #151
Ah, should've read the README to the end...

It'd be nice if immich-microservices could be run on non-AVX CPUs and/or iGPUs instead though.

[2022-05-08 12:25] alextran1502 commented on #151
Hi, unfortunately, it is TensorFlow that uses the AVX instruction. The only workaround is to build it from the source and disable it, the distributed node.js library that comes with Immich has it enabled. :/

[2022-05-08 12:29] Atemu commented on #151
I see.

Can TF be made to use the iGPU? Perhaps it doesn't use AVX when using a GPU.

[2022-05-08 12:39] alextran1502 commented on #151
I have an experimental dockerfile that uses GPU but haven't actually gotten a chance to fully work on that to incorporate into the code. I will keep this issue opened and updated when I have more info

[2022-05-08 13:01] Atemu opened #152 "Aarch64 image of immich-microservices"
immich-server has an aarch64 image and all the external images do too but immich-microservices doesn't.

It'd be helpful to have an aarch64 image in order to be able to run Immich on an M1 mac natively.

[2022-05-08 13:31] alextran1502 commented on #152
I remember why I didn't have this, the build will fail when trying to run NPM install on the image since it is the same issue that Tensorflow doesn't have support for arm64 yet.

Please take a look at this issue from [Tensorflow Repo](https://github.com/tensorflow/tfjs/issues/5937)

[2022-05-08 14:12] Atemu opened #154 "Re-starting an upload creates a new file with new UUID rather than resuming old file"
**Describe the bug**
A clear and concise description of what the bug is.

When you start an upload, a new file is created in Immich's `original` directory and continues to grow as data is uploaded.

When you cancel the upload however, the temporary file is not deleted.

When you later re-start the upload, a new file with new UUID is created instead.

The old temporary file is never deleted AFAICT.

[2022-05-08 14:39] Atemu commented on #38
I'd also prefer if the file names were preserved.

Perhaps the files could be stored in `$UUID/$FILENAME`; i.e. `original/80c75488857f94b5256f249925f73d5338f450db20c7fdd9f16f123e6dde9da0/08245964-3349-4469-a2f5-1d0e49122d94/actual-filename.jpg`

[2022-05-08 15:13] alextran1502 commented on #154
Can you elaborate on temporary file is not deleted? There should be no temporary files stored on the file system, only a successful backup would create a new file on the file system. The `original` directory is where the raw file of the assets is stored, it is where the file is back up and stored.

[2022-05-08 15:13] #152 closed

[2022-05-08 15:15] alextran1502 commented on #146
@simonfromwales The new release is available on PlayStore. Can you update and try again?
Thanks

[2022-05-08 16:53] simonfromwales commented on #146
That is working great now thank you!

[2022-05-08 16:53] #146 closed

[2022-05-08 18:58] alextran1502 commented on #154
I read your issue again more carefully. I will investigate and let you know

[2022-05-08 23:23] alextran1502 commented on #154
I think there is a misunderstanding in the expected behavior. I tested on a slow network and with a large file, I canceled while the process is running and I can confirm that there is no file created in the `original` folder.

[2022-05-09 06:44] Atemu commented on #154
On my machine, a file is created when the upload starts and continually grows during the upload process. Cancelling the upload from the App does not remove this file.

[2022-05-09 12:22] alextran1502 commented on #154
Can you help me get the information/screenshot of the directory and the file when
1. Before upload
2. During upload
3. After canceling

What is your vm/machine information?

[2022-05-10 09:30] Eidenz opened #156 "[BUG] Object detection pipeline not running"
I was wondering how you implemented object detection. Does it run periodically, or is it supposed to be called after an image is uploaded?

It's barely mentioned in the readme, and I don't see any tags or calls in microservices logs for now (just started uploading some pics to test).

You mention it's based on COCO SSD, do you consider offering alternatives in the future?

[2022-05-10 19:15] Atemu commented on #154
Here is the terminal log of cancelling an upload and re-starting it a few times.

<details>

[code]

</details>

It's a single video and all I did was press the upload/cancel toggle a few times and waiting a bit in between.

What I've now noticed though is that it's a bit inconsistent but mostly reproducible.

The 4 video files from two days ago are also a result of this bug. I deleted all previou

[2022-05-10 19:32] alextran1502 commented on #154
@Atemu Thank you for the details, I will try to reproduce them. And you perform this on a simulator, correct? What is the simulator spec?

[2022-05-11 07:15] Atemu commented on #154
Yes. The emulator is a generic aarch64 image without play services but this was also reproducible on a real device (also without Google).

[2022-05-11 10:25] Eidenz commented on #156
Okay I see, thanks for the info.

But then I think my installation may have a problem. Because 0 detections on 200 pictures, and no logged attempt in the microservices..

[2022-05-11 10:43] alextran1502 commented on #156
Thank you for the info, I just tested and this is a bug.

[2022-05-11 11:18] #156 closed

[2022-05-11 11:18] alextran1502 commented on #156
The issue has been fixed now, it will be built with the `latest` tag on the Dockerhub shortly

[2022-05-11 13:12] Savasdotexe commented on #38
With respects to what you'd like, I think an album is not the same or sufficient to "replicating" what the user here has asked for, which is preserving the folder structure, which I agree and I am a little surprised it doesn't do because the whole point of a backup is to restore and you can't do that if it's all changed.

An album can be created from videos/photos from various cameras and someone

[2022-05-11 13:16] alextran1502 commented on #38
@Savasdotexe I agree with you. I've put more thought into this after the implementation of the selective backup features.

Since I can pull information from the asset's original folder from the mobile phone, it will also be nice to have them in the same structure on the server after backing up.

[2022-05-11 18:29] jbaez commented on #38
🤔 Interesting point, but I see some issues with it.

For example, for uploading photos taken with a camera, that would need to be done from a future Web app, where you select photos from the file system to upload. In this case there is no "folder structure". The only way to have a folder structure would be to implement a Dropbox-like client to install in the computer (huge project on it's own, and

[2022-05-12 12:54] Savasdotexe commented on #38
...

Well, those aren't really issues to what I said, besides a lot of external cameras sync with phones and tablets now days so they would still be using the same device.

Lets say you go on holiday, you takes pictures with your phone camera, your gopro and also digital camera (which both syncs photos/videos with the phone) and you also receives photos from a friend which went with you, via Whats

[2022-05-13 17:05] m4rkv5 opened #160 "Feature: iOS Live Photos"
iPhone Live photos are converted into images. If Immich is used as a backup, the old status cannot be restored.

[2022-05-16 13:17] spupuz opened #164 "[BUG] nginx container starts but no tcp ports expose"
Hello eveybody

can't access port 2283 or 2284

l: (7) Failed to connect to 192.168.1.xxx port 2283 after 0 ms: Connection refused

on portainer nginx container starts but no tcp  port exposed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2022-05-16 16:12] ma-karai commented on #64
I'd already be happy, with a tick background upload enable at all costs. :D I'd upload my entire phone once when connected, and then untick that thing 🗡️

Btw: Alex, amazing work. I use immich with a photoprism, photolibre and photoview instance, and it just works perfectly.

[2022-05-16 23:29] alextran1502 commented on #164
I am not sure how you set up your Portainer network to help you troubleshoot. Can you take some screenshots?

[2022-05-17 08:38] spupuz commented on #164
i tried also from docker-compse command from command line with same result

[2022-05-17 09:39] alextran1502 commented on #164
After you start the docker-compose command, can you run `docker ps` and show the result?

[2022-05-17 10:03] spupuz commented on #164
here is the output:

[code]

[2022-05-17 10:09] alextran1502 commented on #164
This looks identical to my output as well.

From another machine, if you try to ping your server, does it get through? And what is the output when you try to do `curl http://192.168.1.xxx:2283/server-info/ping`

Did you perform the docker-compose command on a different VM/machine or on the same VM/machine that runs Portainer?

[2022-05-17 10:12] spupuz commented on #164
curl http://192.168.1.xxx:2283/server-info/ping
curl: (7) Failed to connect to 192.168.1.112 port 2283 after 0 ms: Connection refused

[2022-05-17 10:14] spupuz commented on #164
all other container i have the tcp port are working wihtout any problem also the postgres

[2022-05-17 10:19] alextran1502 commented on #164
So you are running this on the same VM that runs Portainer, correct?

Can you change the binding port of `nginx` service in `docker-compose.yml` to a different port and see if it makes a difference?

[code]

[2022-05-17 10:24] spupuz commented on #164
curl http://192.168.1.112:12283/server-info/ping
**curl: (7) Failed to connect to 192.168.1.112 port 12283 after 9 ms: Connection refused**

![image](https://user-images.githubusercontent.com/1721792/168790171-8ceed13e-7bb1-42c1-9218-a9f8838d798d.png)

[2022-05-17 10:27] spupuz commented on #164
seems to be something related to nginx proxy not working this container also has no log working

~ docker logs proxy_nginx
**Error response from daemon: configured logging driver does not support reading**
other logs works

[code]

[2022-05-17 10:28] alextran1502 commented on #164
You can comment out the

[code]

in `nginx` service to see log, it is quite chatty so I disable it for cleaning logs

[2022-05-17 10:39] spupuz commented on #164
this is the nginx log:

`/docker-entrypoint.sh: /docker-entrypoint.d/ is not empty, will attempt to perform configuration
/docker-entrypoint.sh: Looking for shell scripts in /docker-entrypoint.d/
/docker-entrypoint.sh: Launching /docker-entrypoint.d/10-listen-on-ipv6-by-default.sh
10-listen-on-ipv6-by-default.sh: info: /etc/nginx/conf.d/default.conf is not a file or does not exist
/docker-entrypoi

[2022-05-17 10:46] alextran1502 commented on #164
AH I see, it is looking for the `nginx.conf` file in the `nginx` service. You can see the file in the repository at `docker/settings/nginx-conf/nginx.conf` So you have to find a place on your machine to place this file and mount or point your Portainer Stack configuration to it, so docker-compose can find the file it is looking for.

[2022-05-17 12:51] spupuz commented on #164
ok now it's working.

[2022-05-17 12:51] #164 closed

[2022-05-17 12:53] spupuz opened #165 "[feature] ability to auto backup pictures and to remove pictures from local device"
could you please add ability to auto backup pictures and to remove pictures from local device (android phone) when backup is done?

[2022-05-17 14:38] sbkg0002 commented on #151
@alextran1502 if there is a way I can help build or test, pm me.

[2022-05-17 15:16] JamesBelchamber commented on #139
Since Immich is written in Flutter this shouldn't be all that far-fetched :eyes:

[2022-05-19 23:09] alextran1502 commented on #148
In progress
<img width="2056" alt="Screen Shot 2022-05-19 at 18 08 27" src="https://user-images.githubusercontent.com/27055614/169418723-033281e0-49fe-43b5-b6e5-3256663c8dfe.png">

[2022-05-21 13:22] alextran1502 commented on #148
You can try out this feature by updating the repository and pulling the latest images for the docker services. There is a new environment variable you have to put in for this to work. Please check `.env.example` for more detail. I am closing this issue now.

[2022-05-21 13:22] #148 closed

[2022-05-21 18:47] Kjeldgaard commented on #84
Isn't the immich image sufficient if using an existing database?

[2022-05-21 19:12] alextran1502 commented on #84
There is a message queue that utilizes Redis for passing the message across the background processes, so you would need Redis as well.

Now that I am adding a web interface that is using SvelteKit, which has its own built-in Nodejs server, this adds an additional complexity to the process of putting everything into a single Docker image.

[2022-05-21 20:35] Kjeldgaard commented on #84
I actually already have Redis up and running, but how should that be configured? According to 'Step 1' from https://github.com/alextran1502/immich, there is only the database configuration.

[2022-05-21 21:42] JamesTeague commented on #84
I think so, most people probably want to decouple that and Redis anyway.

[2022-05-22 00:18] wavesswe opened #170 "500 Unexpected token < in JSON at position 0 SyntaxError: Unexpected token < in JSON at position 0"
Running the docker compose thru Portainer, everyting starts up, I can see that ngnix is running at http://xxxx.xxx.xx.xx:2283/

But get the following issue when trying to access : http://xxxx.xxx.xx.xx:2285/

500
Unexpected token < in JSON at position 0
SyntaxError: Unexpected token < in JSON at position 0

in the logs from the web container

SyntaxError: Unexpected token < in JSON at position 0

[2022-05-22 04:07] alextran1502 commented on #170
Hello, did you specify `VITE_SERVER_ENDPOINT=` in your `.env` file?

[2022-05-22 04:12] alextran1502 commented on #170
Additionally, did you include the `https://github.com/alextran1502/immich/blob/main/docker/settings/nginx-conf/nginx.conf` in your Portainer setup?

[2022-05-22 04:41] wavesswe commented on #170
I did include the .env file. I haven’t added that as extra some where. Where should I put that link?

[2022-05-22 09:52] alextran1502 commented on #170
So you have the key `VITE_SERVER_ENDPOINT=` in your `.env` file, is that correct?

`nginx.conf` is the config file that the docker-compose build will look for during the build process, it looks like if you can access the web page/server, you should have specified that file already.

Can you capture the console and network tab in the browser dev tool (F12) for me when you access the web page.

[2022-05-22 15:58] alextran1502 commented on #139
Added in #172 - Closing this issue.

[2022-05-22 15:58] #139 closed

[2022-05-22 16:34] wavesswe commented on #170
The vite server address is correct, I set the same port as in the example text. The Ngnix page is reachable. But when changing port to access setup I get the message. I will get you the info

[2022-05-22 21:29] alextran1502 commented on #170
Can you pull the new image and test it? I did a few bugs fixed and performance optimization earlier this morning.

From the docker directory, run

[code]

[2022-05-22 22:06] wavesswe commented on #170
Hi!

Updated with same results.

from console

[2022-05-22 22:08] wavesswe commented on #170
rror with Permissions-Policy header: Origin trial controlled feature not enabled: 'interest-cohort'.
:2285/:1          GET http://192.168.x.xx:2285/ 500 (Internal Server Error)
css2:1          GET https://fonts.gstatic.com/s/worksans/v17/QGYsz_wNahGAdqQ43Rh_fKDp.woff2 net::ERR_NAME_NOT_RESOLVED
192.168.x.xx/:1 Access to fetch at 'http://192.168.x.xx:2283/server-info/ping' from origin 'http://192.1

[2022-05-23 00:55] alextran1502 commented on #170
hmm interesting, let's isolate the issue of the setup!

Can you let me know what do you see when you enter `http://your-ip:2283/server-info/ping` into the web browser?

[2022-05-23 08:07] spupuz commented on #139
so a web interface is now available?

[2022-05-23 09:25] alextran1502 commented on #139
@spupuz yes. Please check out the updated readme file for additional info, the docker-compose file is updated with the new web interface container, there is also a new value in the .env file that is required to run the app

[2022-05-23 09:43] spupuz commented on #170
same error  here if i access   http://your-ip:2283/server-info/ping i got  {"res":"pong"}

[2022-05-23 10:19] spupuz opened #175 "[BUG] android press more time back button it goes to the login screen,"
on android press more time back button it goes to the login screen, should go to the homepage in casae

[2022-05-23 12:45] alextran1502 commented on #170
@spupuz I believe you are also running Immich using Portainer, correct? Can you help me spin up a completely new Immich instance/stack and check if you are still encountering the same issue?

[2022-05-23 13:04] alexistay opened #176 "[BUG] immich-microservices_1 error TS2694:"
Following the readme and using docker, after starting the server with
`docker-compose -f ./docker/docker-compose.yml up`
,I get the following errors:

[code]

and lot of similar errors which I truncated off. Not sure what I'm missing. Using ubuntu.

[2022-05-23 13:22] alextran1502 commented on #176
Ah I encountered this error before, this is a conflict when mounting the UPLOAD folder location to a densely populated folder location. For example, I mounted it to `~/Download` and it showed this error. I will work if you create another sub folder and point the environment variable to that path i.r `~/Download/immich-data`

[2022-05-23 13:27] kiguigui opened #177 "Database hostname hardcoded"
Hello there,

at first: thank you for this great app!

But it seems that Immich Server has the hostname for Postgres hardcoded so it is mandatory to set container_name in docker-compose and not possible to use a standalone database server.

Is it possible to define an additional ENV-Variable like Database_hostname to define the name of the database server? For Example: Database_hostname=mydatabase

[2022-05-23 13:36] #176 closed

[2022-05-23 13:41] alextran1502 commented on #177
Hello the PR #174 is being worked on to work on this issue along with Redis instances :)

[2022-05-23 13:44] spupuz commented on #177
yeah for this reason can't spin up a double istance from scratch, i just have just one server :)

[2022-05-23 13:44] spupuz commented on #170
database name is hardcoded for this reason can't spin up a double istance from scratch, i just have just one server :)

[2022-05-23 13:45] kiguigui commented on #177
Hey Alex,

ohh i didn't look in the pull requests. Well that sounds great, thank you for your quick reply :)

[2022-05-23 13:56] alextran1502 commented on #170
Ah. Can you spin up a new instance that is not in Portainer?

I have a feeling this is an issue that related to the server is not updated to the newest version, so the front end is looking for things that the server doesn't have yet. Can you remove the server docker
container and pull it again from Dockerhub?

[2022-05-23 13:57] alextran1502 commented on #170
Can you help me check this endpoint? `http://your-ip:2283/server-info/version`

[2022-05-23 14:00] spupuz commented on #170
i can try

[2022-05-23 14:29] Antonet99 opened #178 "[BUG] immich-web error"
**Describe the bug**

I was looking to test the app, so I deployed it on a VM running Ubuntu Server 22.04 with the docker-compose.yml and the .env files. I obv adjusted them to my settings (code attached).

When I try to open the web app at http://IP:2285 to register the first user, I have two problem:

[code]

<img width="1440" alt="screen" src="https://user-images.githubusercontent.com/50658637/

[2022-05-23 14:32] alextran1502 commented on #178
Hello, can you navigate to `http://ip:2283/server-info/ping` and let me know what you see there?

[2022-05-23 14:36] alextran1502 commented on #178
Can you try to run the app first with the default setting from the repo? I would like to isolate the possibility that there might be some bugs going on with the server. After that, we can try your setting and fix the bug.

[2022-05-23 14:50] Antonet99 commented on #178
It doesn't load the page...and that's very strange because I have the "Server Status OK" on the web app page...

With "default setting" what do you mean? I cloned the repo in a dir and only modified the compose file to chang directories path and and Postgres user/password, then I modified the IP address in the env file and deployed. Maybe I'm doing something wrong...

I apologize if I'm doing some

[2022-05-23 14:56] alextran1502 commented on #178
No problem here, I think the problem might be the Nginx setting. Can you use the same Nginx setting from the repo?

I saw that you also replace these lines in your docker-compose

[code]

If you replace that value, the server won't be able to upload the file correctly, because you have two different values in your docker-compose `/home/user1/prova/immich` compares to the `UPLOAD_LOCATION=/home/use

[2022-05-23 15:09] spupuz opened #179 "[enhancement] server can index photo copied to specific folder"
server can index photo copied to specific folder or to upload folder.

[2022-05-23 15:33] alextran1502 commented on #178
No problem, you can leave the Nginx setting from the server as is, it doesn't interfere with your Nginx setting. It is there for load balancing purposes, port 80 and 443 are mapped to 2283 and 2284 which shouldn't be in conflict with anything eles.

[2022-05-23 18:54] spupuz commented on #170
With latest docker version server works but since I already have a user can create an admin user, how can I do?

[2022-05-23 18:59] alextran1502 commented on #170
@spupuz After you log in on the web, if you have more than one account on the server, it will ask which account should be made admin. Otherwise, if you have only one account, it will make that account into the admin account :)

[2022-05-23 19:06] spupuz commented on #170
Cool, just one point web interface does not adapt to browser in phone.

[2022-05-23 19:11] alextran1502 commented on #170
@spupuz Understand, as it is not a priority right now, since you have a mobile app already to view/interact with the backup assets.

[2022-05-23 19:36] spupuz commented on #170
Yah I know don't worry I'll put ideas and optmiziation as I see them, proud of being a test this is becoming a real piece of diamond

[2022-05-23 19:37] alextran1502 commented on #170
@spupuz No problem, thank you for doing this. I just want to confirm that you can now access the web interface, correct?

[2022-05-23 19:39] spupuz commented on #170
Yes I can will test it wider tomorrow with laptop

[2022-05-23 22:28] alextran1502 commented on #177
@kiguigui PR #174 has been merged, you can now set your own Redis instance as well as Postgres server.

[2022-05-23 22:28] #177 closed

[2022-05-23 22:29] alextran1502 commented on #179
Duplicated #7

[2022-05-24 04:31] phamleduy04 commented on #170
I have the same problem. When I check the dev console I saw `/server-info/ping` is returning 404.

The error happen when I changed the `VITE_SERVER_ENDPOINT` to my public domain. When using IP is fine.

![image](https://user-images.githubusercontent.com/32657584/169949307-40f69bc5-dc09-48c8-8efd-fd056331d0b4.png)

[2022-05-24 07:56] jeanpaulrh commented on #170
I also have the same error, but I think caused by a different problem, since if I start docker-compose up without daemon option in the console I see this:

`immich-web_1            | FetchError: request to https://192.168.3.2:2285/192.168.3.2:2283/user/count failed, reason: write EPROTO 140497463036720:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/rec

[2022-05-24 07:59] xpwmaosldk opened #181 "[QUESTION] Why not use Flutter web?"
Hi
Thanks for making the awesome app.
I will use this for my family.
I am so excited and want to contribute to this project in various ways.
But in my opinion the technology stack for this project is too diverse.
Besides, this project has recently made a web with Svelte.
You have Flutter skills, so why did you choose Svelte?
What do you think about integrating web and app with Flutter?

[2022-05-24 08:18] spupuz commented on #170
i suppose on the latest docker version there was a regression

`.svelte-kit/output/server/entries/fallbacks/error.svelte.js                     0.72 KiB
.svelte-kit/output/server/entries/pages/admin/index.svelte.js                   6.69 KiB
.svelte-kit/output/server/entries/pages/auth/login/index.svelte.js              1.94 KiB
.svelte-kit/output/server/entries/pages/auth/register/index.svelte.js

[2022-05-24 08:19] spupuz commented on #181
flutter should be probably a more flexible solution

[2022-05-24 08:40] mason-xx commented on #170
I had the same problem, are you sure you have that entry in the .env file correct? I forgot the http:// bevor the ip adress!

VITE_SERVER_ENDPOINT=**http://**10.1.11.50:2283

[2022-05-24 08:57] jeanpaulrh commented on #170
You're right! Thanks a lot!

[2022-05-24 09:12] spupuz commented on #170
that's not my case i still got problems

[2022-05-24 12:33] spupuz commented on #170
updated the .env and the docker-compose.yml but seems i have problem in connecting to DB

`Error: getaddrinfo ENOTFOUND immich_database
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (node:dns:71:26)



[Nest] 51  - 05/24/2022, 12:31:56 PM     LOG [NestFactory] Starting Nest application...
[Nest] 51  - 05/24/2022, 12:31:56 PM     LOG [InstanceLoader] TypeOrmModule dependencies initialized +10

[2022-05-24 12:43] alextran1502 commented on #170
@phamleduy04 Can you help me open a separate issue for problem accessing the web when put in the public domain to the .env file? Can you help me including your redacted .env file as well? Thanks

[2022-05-24 17:12] phamleduy04 commented on #170
first time i deploy i can login and setup the web interface.

But now when I tried to redeploy using the old settings the same error popup no matter how I set up the `VITE_SERVER_ENDPOINT` .env 😢

[2022-05-24 17:50] alextran1502 commented on #170
@phamleduy04 I am pretty sure this is the cookie mismatch during the development cycle. Can you navigate to the Application -> Cookie and clear the session in the Browser Dev Tools? I believe this should fix it

[2022-05-24 17:53] alextran1502 commented on #170
@wavesswe Can you try clearing the cookie in the browser's Dev tools in the Application -> Cookie tab and see if it fixes the issue

[2022-05-25 01:54] xpwmaosldk commented on #181
I agree. @alextran1502
I'm always rooting for you
And I'll look for the parts that I can contribute to this project.
Thank you

[2022-05-25 01:54] #181 closed

[2022-05-25 03:01] alextran1502 commented on #181
@xpwmaosldk Thank you for the kind words. I am really happy that this application is not inly helping me and my family but yours as well!

[2022-05-25 04:06] phamleduy04 commented on #170
![image](https://user-images.githubusercontent.com/32657584/170177511-b683ebb7-b9c5-4848-a733-3f150cffb320.png)

The cookie section is empty right now

[2022-05-25 04:07] phamleduy04 commented on #170
Also now I tried to request to `http://my-local-ip:2285/server-info/ping` returning 404 Not found

[2022-05-25 06:15] Nonobis opened #183 "[Question] Does immich share common image between user"
Hello :)

 I have started to backup my mife and mine picture via immich but i see a folder by user uuid in server ...
If we have duplicate picture between account how do you manage this ? Keep duplicate or not ?

[2022-05-25 06:48] Nonobis commented on #170
Hello,

I am on port 2285 (not using nginx), i have url on port 2285 on .env
Already tryed to delete all cookies, it's not working

immich-immich-web-1            | .svelte-kit/output/server/chunks/index-6241e7e7.js                              4.26 KiB
immich-immich-web-1            | .svelte-kit/output/server/chunks/constants-0a775e1b.js                          0.07 KiB
immich-immich-web-1

[2022-05-25 09:26] boffnoff commented on #54
Hey guys, I'm having the same issue on an iPhone 13 Pro running iOS 15.5. Immich server

[2022-05-25 11:33] alextran1502 commented on #54
Hi @boffnoff,

Does the app crash on both devices? Since the backup is in chronological order, can you chase down the file that is going to be backup by looking for it from your phone gallery and see what it is?

[2022-05-25 11:37] alextran1502 commented on #183
I assume you guys share the same account?

Regardless, from each device, the file that is backup is unique by device, even if you guys have the same picture, it would show as two different photos/videos

[2022-05-25 15:43] Nonobis commented on #183
No, like in google photos, we have 2 distincts accourt but in Google Photos, we have a full permanent share of photos ... so we have pictures duplicated between the 2 account ...

[2022-05-25 16:33] alextran1502 commented on #183
This should be the same situation on Immich since the photos are unique for each device, there is no mechanism of deduplication of similar photos in the application (at least not yet)

[2022-05-25 16:53] Nonobis commented on #170
@alextran1502 : i have successfuly created second user with success :) i think i have closed the issue (i don't find it anymore ...)

On Unraid with Docker-Compose Plugin, i don't use ngingx, but caddy as reverse proxy.

**Docker-compose.yml**

`version: "3.8"

services:

  immich_server:
    image: altran1502/immich-server:latest
    entrypoint: ["/bin/sh", "./entrypoint.sh"]
    expose:
      -

[2022-05-25 16:57] spupuz commented on #170
i have another istanza of nginx so can i remove the one in the docker compose? @alextran1502

[2022-05-25 17:01] #183 closed

[2022-05-25 17:19] Nonobis commented on #170
@[alextran1502 : Got web login page with nginx in docker stack :) Thanks :)

[2022-05-25 17:24] Nonobis opened #185 "[Feature] Deduplication of images at server level"
Reference at this discussion #183
I think a de-duplication of simular images at server level could be great.

[2022-05-26 01:24] palitu commented on #121
Yeah, this would be nice :D

[2022-05-26 03:14] phamleduy04 commented on #170
I tried with multiple browser and machine but still error.

This is my .env

[code]

You can check my website [here](https://immich.agentbot.xyz)

[2022-05-26 03:48] alextran1502 commented on #170
@phamleduy04 I think this might be your reverse proxy setup that causes the problem.

[2022-05-26 04:03] phamleduy04 commented on #170
okay so i found the problem is the `VITE_SERVER_ENDPOINT` in .env file. I should put my local IP instead and just forward using traefik to reverse proxy :)

[2022-05-26 04:11] phamleduy04 commented on #170
So this is how I do for production env.
I use the reverse proxy (traefik in my case) to map:

- `immich.your-domain.example` to `<IP>:2285` and this is your web app to see photos.
- `immich-api.your-domain.example` to `<IP>:2283` and this will be the `VITE_SERVER_ENDPOINT` and the URL put in the phone app.

Hope this helps 👍

[2022-05-26 09:26] boffnoff commented on #54
Yup. I'm pretty sure the next file queued for upload is a 7.67Gb video I took. It's 4K 60fps Dolby Vision HEVC video if that helps?
[Download it here:](https://tmb0-my.sharepoint.com/:v:/g/personal/rs_tmb_com/EfOGyKJkkBpJh2A21hS-TCkBYX5Pdpyhe_xH3stjG0-k6w?e=dFECaG)
`https://tmb0-my.sharepoint.com/:v:/g/personal/rs_tmb_com/EfOGyKJkkBpJh2A21hS-TCkBYX5Pdpyhe_xH3stjG0-k6w?e=dFECaG`

[2022-05-26 10:57] sbkg0002 commented on #151
Which nodejs package has the AVX dependency? Is there a non-avx version of the pkg?
Im looking into building a iGPU multi-stage dockerfile to get this going!

[2022-05-26 16:07] GulyFMG opened #186 "request to http://Ipserver:2283/user/count failed"
**Describe the bug**
I have tried to deploy this on a raspberry pi 4 with no success.

When i access IP:2285 i get the following error:

`500

request to http://192.168.69.10:2283/user/count failed, reason: read ECONNRESET
FetchError: request to http://192.168.69.10:2283/user/count failed, reason: read ECONNRESET`

This is my docker-compose file.
`version: "3.8"

services:
  immich-server:
    ima

[2022-05-26 16:40] millie75 commented on #186
I have the same issue - can't access either http://ip:2283 or http://ip:2285

immich-web_1_cdc0a1a55d3b | FetchError: request to http://192.168.123.244:2283/user/count failed, reason: socket hang up
immich-web_1_cdc0a1a55d3b |     at ClientRequest.<anonymous> (file:///usr/src/app/build/shims-eb608bdd.js:6246:11)
immich-web_1_cdc0a1a55d3b |     at ClientRequest.emit (node:events:527:28)
immich-web_

[2022-05-26 17:14] alextran1502 commented on #186
@millie75 @GulyFMG What do you guy put in for `VITE_SERVER_ENDPOINT` in the .env file?

[2022-05-26 17:18] alextran1502 commented on #186
Also what is the reponse when you put `http://ip:2283/user/count` to the web browser?

[2022-05-26 17:20] GulyFMG commented on #186
@alextran1502

![image](https://user-images.githubusercontent.com/41542940/170540652-e620b025-f09e-4a34-b71c-eddfc98e531b.png)

as requested http://ip:2283/user/count i have unable to connect.

[2022-05-26 17:26] alextran1502 commented on #186
@GulyFMG Hmm, this mean the server problem, did you change anything in the Nginx configuration file? Can you commented out

[code]

in the Docker-compose file for the Nginx container and restart everything to see if it output something suspiciously on the Nginx side? The log of the server looks fine

[2022-05-26 17:33] millie75 commented on #186
![image](https://user-images.githubusercontent.com/51971269/170543457-f1611400-1121-4fda-abc4-aa3e3c8f1ea3.png)

as requested http://ip:2283/user/count i have unable to connect.

[2022-05-26 17:37] millie75 commented on #186
Also get this
immich-server_2_c4fb27b63572 | [Nest] 50  - 05/26/2022, 4:25:24 PM   ERROR [TypeOrmModule] Unable to connect to the database. Retrying (1)...
immich-server_2_c4fb27b63572 | QueryFailedError: relation "migrations" already exists
immich-server_2_c4fb27b63572 |     at QueryFailedError.TypeORMError [as constructor] (/usr/src/app/node_modules/typeorm/error/TypeORMError.js:9:28)
immich-ser

[2022-05-26 17:42] millie75 commented on #186
proxy_nginx             | /docker-entrypoint.sh: /docker-entrypoint.d/ is not empty, will attempt to perform configuration
proxy_nginx             | /docker-entrypoint.sh: Looking for shell scripts in /docker-entrypoint.d/
proxy_nginx             | /docker-entrypoint.sh: Launching /docker-entrypoint.d/10-listen-on-ipv6-by-default.sh
proxy_nginx             | 10-listen-on-ipv6-by-default.sh: info:

[2022-05-26 17:51] GulyFMG commented on #186
@alextran1502
as requested i have commented out the logging, im starting to think this is a permission issue / missing file on the folder /immich/settings/nginx-conf on my machine its empty. And the user that is running docker is dietpi with GUID 1000 and UID also 1000.
![image](https://user-images.githubusercontent.com/41542940/170545136-70448a2b-2d7c-4239-991f-18bc17761c7e.png)

I have changed t

[2022-05-26 18:08] GulyFMG commented on #186
@alextran1502
So i nuked my install and started anew, the problem is that on creation the file nginx.conf is not created on the folder /immich/settings/nginx-conf i have download the nginx.conf and restarted the Nginx portion and all is well now.

![image](https://user-images.githubusercontent.com/41542940/170549287-075da2f3-dcee-4fab-a7d6-ab0597da4012.png)

[2022-05-26 18:49] millie75 commented on #186
be nice to have a docker-compose that worked

[2022-05-26 18:54] #186 closed

[2022-05-26 18:55] millie75 commented on #186
what is the contents of your nginx.conf file

[2022-05-26 18:59] GulyFMG commented on #186
@millie75 its on @alextran1502 github just copy this - https://raw.githubusercontent.com/alextran1502/immich/main/docker/settings/nginx-conf/nginx.conf

[2022-05-26 20:16] alextran1502 opened #187 "[BUG] Test"
**Describe the bug**
A clear and concise description of what the bug is.

**Task List**
[x] I have read thoroughly the README setup and installation instructions.
[ ] If my setup is different, I have included my docker-compose file.
[ ] I have included my redacted `.env` file.
[ ] I have included information on my machine, and environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2022-05-26 21:04] simonliu99 commented on #54
I'm also still running into this issue on my iPhone Xs Max. There aren't any details in the container logs besides the client disconnecting so it seems like potentially an app issue.

[code]

[2022-05-26 21:12] alextran1502 commented on #54
Yeah, I assume this is the large file problem, there is a timeout for reading the video file before uploading, I set it for 5 seconds. I think this is the issue. I will load the video onto my phone and take a look at the problem.

[2022-05-27 00:42] palitu commented on #64
@ma-karai  - what do you mean?  how do you do that?

[2022-05-27 06:35] mada199122 commented on #170
This is my compose stack but I'm not able to get it works always

[code]

[code]

THE env file instead is this one

[code]

Why should VITE_SERVER_ENDPOINT point to port 2283 if it is not present in the compose?

In any cane here the log

IMMICH SERVER

[code]

Here IMMICH WEB

[code]

[2022-05-27 09:46] ma-karai commented on #64
How do I do what?

[2022-05-27 12:45] tschoesi opened #188 "[Feature]: Show local files if present in App"
### Feature detail

When using the Mobile App, most of the recently uploaded photos are probably still located on the device.
It would be nice if the app could display the local version of the file if it is present (instead of downloading it again from the server).

This would be very similar to Google Photos, which let's you view any album (local or not), and always shows the local version if pos

[2022-05-27 13:38] alextran1502 commented on #54
@boffnoff Not really, I set the max size that can be accepted as 50GB. So this should work, I haven't been able to put the video on my phone yet. Too large to transfer via air drop T_T

[2022-05-27 13:40] alextran1502 commented on #170
@mada199122 The reason you cannot access is that you removed the Nginx container. The server is served via Nginx via port 2283 which is mapped to port 80 of the Nginx container.

[2022-05-27 13:51] alextran1502 commented on #188
There is an icon on the lower right corner of the thumbnail on the timeline view that indicates whether or not the asset is on the device or has been deleted. If the asset has been backup and has been deleted from the device, it will have the cloud icon like this
![image](https://user-images.githubusercontent.com/27055614/170712909-57728e20-9f6d-4a71-a9c2-e1b444b13de5.png)

Otherwise, it will have

[2022-05-27 16:55] badlandspray commented on #170
I've VITE_SERVER_ENDPOINT=http://10.1.11.50:2283/, I get the following error
[code]
I'm able to access the below endpoints
http://10.1.11.50:2283/server-info/ping
`{"res":"pong"}`
http://10.1.11.50:2283/server-info/version
`{"major":1,"minor":10,"patch":0,"build":14}`

[2022-05-27 17:57] alextran1502 commented on #170
@badlandspray Are you using your own reverse proxy setup? Can you try to fix the `VITE_SERVER_ENDPOINT` by removing the forward slash at the end of the IP address, so `http://10.1.11.50:2283` instead of `http://10.1.11.50:2283/`?

After fixing that, can you access `http://10.1.11.50:2285`?

[2022-05-28 06:53] mada199122 commented on #170
Ok thank you.
Now I've added the Nginx container to the compose

[code]

And now I have this error:
[code]

The log of the web container and the server container are exactly the same as the attached one of my previous post.

But now I'm able to get this
http://X.X.X.X:2283/server-info/ping
{"res":"pong"}
http://X.X.X.X:2283/server-info/version
{"major":1,"minor":10,"patch":0,"build":14}

The log N

[2022-05-28 12:05] alextran1502 commented on #170
@mada199122 there is the configuration file of Nginx in the  'docker' folder of the repo that you have to include in your setup.

[2022-05-28 13:16] Klutronic opened #190 "[BUG] Backup gets stuck on Video"
**Describe the bug**
When backing up my pictures and videos, it almost finishes and gets stuck.  I have seen this on multiple videos.  Length doesn't seem to matter.  They are all from an iPhone 12 Pro Max, 4K, 3840x2160, Dolby Vision, 60 FPS.

**Task List**
[x] I have read thoroughly the README setup and installation instructions.
[x] If my setup is different, I have included my docker-compose fi

[2022-05-28 14:04] badlandspray commented on #170
@alextran1502 Now, I'm able to access the `:2285`and I created an account, upon visting `/admin` I get the below error:'
[code]
Console errors
[code]

[2022-05-28 14:07] alextran1502 commented on #170
@badlandspray is this from your access through the local IP or from the public domain that is proxied to the private IP?

[2022-05-28 14:31] alextran1502 commented on #190
@Klutronic Can you help
Me take a screenshot of the video setting  **Setting > Camera > Video**? I realized that I've never recorded the video in 4K 60fps so there was no test on that. I will dig into this

[2022-05-28 14:43] badlandspray commented on #170
Local IP. I'm using caddy. I've tried setting `VITE_SERVER_ENDPOINT=http://immich-server:3000`.as well. Must be something wrong on my side.

[2022-05-28 15:29] Klutronic commented on #190
Hey @alextran1502, sure thing:

[Screenshot](https://imgur.com/a/zOrOV8c)

[2022-05-29 02:59] alextran1502 commented on #170
@badlandspray If you start fresh from the beginning and follow the readme file, do you have any problems?

[2022-05-29 13:54] alextran1502 commented on #190
@Klutronic I haven't been able to reproduce this issue on my end (iPhone 12 Pro). I used the same setting and record a 4K Dolby Vision 60fps footage and was able to upload the file.

Is there any short footage from your phone that you can share so I can put it on my phone to try uploading?

[2022-05-29 14:19] mada199122 commented on #170
Yes of course I've already put that file in the mount volume of nginx container
![Screenshot 2022-05-29 at 16 18 30](https://user-images.githubusercontent.com/61902329/170873877-1e9c1010-546b-417f-81c4-cbbdf8bd2e98.jpg)

[2022-05-29 14:23] alextran1502 commented on #170
@mada199122 This is the location that the Nginx container is looking for the config file

<img width="381" alt="Screen Shot 2022-05-29 at 09 21 19" src="https://user-images.githubusercontent.com/27055614/170874002-5d19b39e-a06e-45a6-9a67-9c8fbaa8d9b1.png">

If you look at the `docker` folder in the repo, the `nginx.conf` is put in the folder `settings/nginx-conf`. Perhaps you have to create 2 fold

[2022-05-29 14:36] mada199122 commented on #170
But in docker compose the left path should be whatever I want in my host machine that it will be translated by docker to the path at the right side inside the container.
it shouldn't matter...

Now I've modified the compose to include the two folder as suggeste but nothing has changed:(

![Screenshot 2022-05-29 at 16 18 30](https://user-images.githubusercontent.com/61902329/170874838-2ed17b6f-5229

[2022-05-29 14:41] alextran1502 commented on #170
@mada199122 I am not sure if you have uploaded the correct image but it seems to not the correct path you showed in the docker-compose file

[2022-05-29 14:44] mada199122 commented on #170
no it is correct, /volume1 is not shown in the GUI of Synology NAS

I've attached a screenshot from the shell

![Screenshot 2022-05-29 at 16 44 03](https://user-images.githubusercontent.com/61902329/170875323-730d98f2-cdd9-4f6c-8309-70aa5ec1d3d5.jpg)

[2022-05-29 15:15] alextran1502 commented on #170
@mada199122 Let's try two things

1. Can you remove the double quote to see if it make the different, so `/volume1/docker/Immich/nginx/settings/nginx-conf:/etc/nginx/conf.d`
2. If the above doesn't work, can you commented out the Nginx container and expose the port in the `immich-server` container by adding
[code]

[2022-05-29 15:34] mada199122 commented on #170
tried both but nothing... always the same error..

[2022-05-29 15:37] mada199122 commented on #170
At the port 2283 I get this now
![Uploading Screenshot 2022-05-29 at 17.37.03.jpg…]()

[2022-05-29 15:39] alextran1502 commented on #170
@mada199122 Can you post your `docker-compose` file again? Did you perform `docker-compose down` and `docker-compose up` after you updated the file content?

[2022-05-29 15:43] mada199122 commented on #170
Yes I've removed completely all the container and re-created

This is my actual compose
[code]

[2022-05-29 17:28] spupuz commented on #175
Can you solve this? Is pretty annoying, there should be a log off icon e and eventually the back button should not logoff but send to the home

[2022-05-29 17:29] alextran1502 commented on #175
Will put this in for hotfix release in the coming days

[2022-05-29 18:01] tschoesi commented on #188
Yes, I think I understand how this indicator works.
However, when you tap on a picture that has been backed up it is still loaded from the server, right?

It would make more sense to show the local version of the file.

[2022-05-29 18:50] alextran1502 commented on #188
That is correct. Since the photo is guaranteed to be on the server once it is backed up, it is simpler to fetch the photo from the server, to keep the mechanism as simple as possible, for maintainability sake.

[2022-05-29 21:12] JM-Lemmi commented on #160
It would be nice to have compatibility with Samsung Motion Photos and the Google Format too.

They are implemented a bit differently from Apple. Instead of a MOV file next to it, it has a mp4 integrated into the jpg/heic file. [This repo](https://github.com/joemck/ExtractMotionPhotos) has a good deconstruction of the format.

[2022-05-29 22:34] alextran1502 commented on #175
Fixed in #193

[2022-05-29 22:34] #175 closed

[2022-05-29 23:12] boffnoff commented on #190
@Klutronic if you checked the other open bugs you’d notice this is a duplicate of #54

@alextran1502 I know you struggled to load my 7Gb video but I have the same iOS video settings applied

[2022-05-29 23:25] alextran1502 commented on #190
@boffnoff @Klutronic Do you guys use the Nginx setting in the repo or you have your own Nginx setting?

[2022-05-29 23:41] alextran1502 commented on #170
@mada199122 Before changing the content of the docker-compose, if you keep the same content and follow the direction in the readme file, with placing the `nginx.conf` at the correct location, can you test this scenario first? Then gradually change each container to your settings to catch errors incrementally

[2022-05-30 05:25] mada199122 commented on #170
sorry I my previous post I copied the wrong NGINX  compose, now I correct...

nginx.conf is in the correct location mapped in docker compose...

`./settings/nginx-conf:/etc/nginx/conf.d` is exactly equivalent than mine...
 sorry but I cannot understand the difference been that string a mapping path left to right

Could you explain me what is causing this of this error please?
[code]
So I can try t

[2022-05-30 13:01] Klutronic commented on #190
@alextran1502 I use whatever is in the repo.  If you tell me how to get the Xcode logs Ill grab whatever you need.

[2022-05-30 13:35] Klutronic commented on #190
I have gotten the videos to upload successfully.  I wasn't connecting locally (I used Nginx Proxy Manager so I can could access/backup my immich instance from outside my network), but as soon as I used IP address of my server on my local network it uploaded just fine.  So I guess for now I can only backup on my local network.  Let me know if you want to test outside the local network at some point

[2022-05-30 13:50] alextran1502 commented on #190
@Klutronic Thank you, this is an infrastructure issue, let's open a new one to focus on that.

@boffnoff Did you also use the same setup as the comment above when backing up the video?

[2022-05-30 14:01] boffnoff commented on #190
@alextran1502 I used the default Nginx included with your docker-compose. I dont have a mac so can't grab Xcode logs sorry😞

I've tried uploading the file I previously sent you whilst I'm on the local network and remotely (via portforwarding) and the app regardless

[2022-05-30 14:41] alextran1502 commented on #190
@boffnoff I will try to record a video with the same length and upload it to see if this is an issue with a large video file.

[2022-05-30 14:47] Klutronic commented on #190
@boffnoff You can actually grab logs from your iPhone if you connect to a Windows machine through USB and use a took called iTools. [iTools](https://www.hexnode.com/mobile-device-management/help/obtain-ios-device-logs-using-mac-and-windows/).  The trial worked just fine for me to grab the logs.

[2022-05-30 17:52] zackpollard commented on #185
De-duplication is probably way down there in the list of priorities for this project. Regardless of that, de-duplication on a per-user level probably makes sense, however I would probably avoid de-duplication between users as mixing data is probably not a great idea for privacy sake. For the specific case in that issue, it probably makes sense to do something similar to google photos (again, far d

[2022-05-30 19:21] Nonobis commented on #185
I agree, it's low prority ... but i am sorry but i don't really see the privacy aspect of this feature. We are on a selfhosted product for personal usage, not on a public service exposed. Every user with access to the storage hard can access the file directly if necessary.

It's possible to maintain a correct level of privacy between user and optimizing data storage.

If a 2 or more users has the

[2022-05-30 19:31] alextran1502 commented on #185
@Nonobis I think your concern is that if you share an image with other users in the shared album, that image is "copied" into multiple images, correct?

If yes, you don't have to worry because the image is not copied into another image, it is referred as a shared assets in the that shared album, so when the album is viewed, it pulls the information in the pool of assets (contains all assets on the

[2022-05-30 21:44] jschwalbe commented on #185
If I may, I think his concern can be explained with the following example:
I take my family on vacation to Disney. We all get the PhotoPass where a cast member takes photos and then we all download them to our personal devices.

Person A uploads the photos to immich.
Person B, C and D all do so as well.

If the photos are hashed somehow (md5, sha, whatever) then persons B C and D wouldn’t have to

[2022-05-30 22:50] wavesswe commented on #170
I get 404 Not Found

[2022-05-30 22:56] alextran1502 commented on #170
@wavesswe Can you try to clear the `session` in the cookie from the web dev tool?

[2022-05-30 23:00] alextran1502 commented on #170
I am not sure why you are seeing that either, have you tried clearing the session in the cookie of the browser dev tool?

![image](https://user-images.githubusercontent.com/27055614/171066332-a33f70fd-de31-4f63-b887-adb08f7232ad.png)

[2022-05-31 01:05] Nonobis commented on #185
. @alextran1502 @jschwalbe Thanks for your response, it's more clear and it's solve my worries :)

[2022-05-31 07:10] spupuz commented on #38
If having too many pictures in the same folder could lead to have problem ok listing them. Need to backup pic in year / month / day folder structure

[2022-05-31 07:45] mada199122 commented on #170
Finally I got it working...
I don't know actually what I've done... But yesterday after many failed attempts I shut all the 4 containers down...
Now to try to clear the cookie session as you suggested I started the containers and magically now works...

I have two clues...
yesterday I've change the name of the nginx container, before I was using  "**immich_nginx_proxy**" now I changed to the defau

[2022-05-31 08:01] boffnoff commented on #190
Thanks @Klutronic for the headsup, the log file is pretty long and couldn't see a way to filter out all the background rubbish... @alextran1502 checkout the log here: [immich iTools log.txt](https://github.com/alextran1502/immich/files/8803222/immich.iTools.log.txt)

[2022-05-31 08:52] spupuz commented on #175
if phone restarted opening the app it present the login screen.

[2022-05-31 22:49] alextran1502 commented on #170
@mada199122 I am glad it is working now for you. Perhaps you didn't shut down the container before when you perform the `docker-compose pull` step? Probably shutting it down perform a complete reset and register the most recent code change for the application

[2022-06-01 00:51] Klutronic commented on #190
Are you ready to work on the "through a reverse proxy off the network" issue or is that something you want to wait on?  I can create the issue if you want me to.

[2022-06-01 12:34] Nonobis opened #195 "[Question]: Support Coral.ai Accelerator ?"
### Feature detail

I don't known if it's  a good idea or not ... i read a few article on this hardware and this seem really cool for running tensorflow locally.

Maybe support this type of hardware (https://coral.ai/products/accelerator) could help your AI model ? support for a specifc hardware with relative low cost / power usage for accelerate tensorflow seem to be a good idea.

Maybe for a bet

[2022-06-01 20:00] spupuz commented on #64
Application logoff when is closed or the phone is restarted

[2022-06-02 03:23] alextran1502 commented on #64
@spupuz Let's open a new issue for that bug.

[2022-06-03 12:48] spupuz opened #197 "[BUG] app logoff after close or phone restarted"
**Describe the bug**
app logoff after close or phone restarted

**Expected behavior**
when the app is closed or phone restarted a login should not be needed

**Smartphone (please complete the following information):**
 - Device: samsung s10e
 - OS: Android 12
 - Version: latest

[2022-06-04 14:05] spupuz commented on #64
I did

[2022-06-04 20:39] phamleduy04 opened #199 "[Feature]: Support image upload from web interface"
### Feature detail

I can't find a way to upload images to immich using the web GUI.

### Platform

Web

[2022-06-04 22:02] alextran1502 commented on #199
The feature is not there yet :)

[2022-06-04 23:34] #20 closed

[2022-06-05 22:59] #179 closed

[2022-06-05 23:33] zackpollard opened #203 "[Feature]: Extend video transcoding support"
### Feature detail

Video transcoding has now been added for MOV files, however this should be extended. Making a note here as we discussed so this can be picked up and worked on:

- [x] We should convert anything that isn't already in the desired codec (h264 or VP9) or container (mp4), we should detect this using ffprobe
- [x] We should make quality (CRF, output resolution, encoding speed, etc) a

[2022-06-08 04:28] alextran1502 opened #208 "[Feature]: Play video during the buffering process"
### Feature detail

The video player on the web is currently fetching the whole video before playing.

It would enhance the UX if the video played as soon as some buffering is in process. Like streaming.

### Platform

Web

[2022-06-09 22:32] darrylgibbs opened #210 "immich-microservices Container pinning CPU at 100%"
**Describe the bug**
After backing up all photos from my phone, the Microservices container runs at 100% CPU.  RAM usage is negligible. The photo library is only 34 images, and the CPU is still pinned 14 hours after initial sync.

**Task List**
Running in a VM on Proxmox, one of many other docker apps running.  Photos are synced to a directory on my NAS (seperate device).  CPU is a Interl J4205 (4

[2022-06-09 23:22] alextran1502 commented on #210
Can you try restarting the application to see if it resolves the problem? I haven't experienced this issue yet

[2022-06-10 04:15] alextran1502 commented on #210
Can you also provide your phone model and which type of assets did you upload to Immich? might be a special case that I haven't thought out yet?

[2022-06-10 12:19] darrylgibbs commented on #210
![Screenshot 2022-06-10 091747](https://user-images.githubusercontent.com/9167471/173062585-038e372b-da01-4cf8-b4ca-09b39ba1e29e.png)

The CPU usage % jumps rapidly between 100 and 195% constantly, even after restart. I even went as far as deleting the app from my phone, but this continues.

I have a Samsung S8 International model.  Photos and H265 video files, directly from the camera folder.

[2022-06-10 16:11] darrylgibbs commented on #210
@alextran1502 I did restart the server, all the containers in fact.  The results were the same.

I'll restart them now, and leave them for an hour or so and check in on the CPU usage again.  That should be a good enough test?

[2022-06-10 16:12] alextran1502 commented on #210
yes, thank you.

When the container running with the spike, I assume you didn't perform any backup, correct?

[2022-06-10 16:14] darrylgibbs commented on #210
@alextran1502 correct.  I've take no new photos since before first booting up these containers, so there has been nothing new to add.

[2022-06-10 16:15] alextran1502 commented on #210
Thank you for the info

[2022-06-10 17:19] darrylgibbs commented on #210
An hour later, usage still high across all 4 cores.

[2022-06-10 17:56] alextran1502 commented on #210
Can I assume this is only happen in the VM with other dockers container running? And it wouldn't behave this way if you create a new VM and run Immich on that one?

If this issue only persists in the VM with multiple containers, you can limit the CPU usage of that specific container in the docker compose file

https://stackoverflow.com/questions/59657728/set-cpu-limit-in-docker-compose

[2022-06-10 19:02] darrylgibbs commented on #210
Yes it's one of my docker containers. I will need to create a new VM and try.

I didn't know that I could limit CPU usage. That's petty cool.  Although, I had imagined that the usage would spin down when there is nothing to do.  I didn't expect that this would be hitting the CPU continuously.  Is that normal behaviour?

[2022-06-10 19:12] alextran1502 commented on #210
No that is not normal behavior. CPU should stay at around 1-2% when there is no image being uploaded to the server. I haven't seen this behavior before so it is strange, I guess it might have to do something with the specific VM you are running the containers.

Below is my production setup of Immich, when there is no operating on the server.

<img width="952" alt="Screen Shot 2022-06-10 at 14 12 1

[2022-06-11 10:02] BackedUpBooty opened #214 "[Feature]: Add `logout/sign out` button for web GUI"
### Feature detail

If I'm being super dumb and not finding it then apologies, and please explain where the logout button is. I can find it on the android app, but not the web gui.

Otherwise... please add a logout/sign out button to the web gui.

### Platform

Web

[2022-06-11 12:54] Nonobis opened #215 "[Question]: Use selfhosted AppWrite in immich stack ?"
### Feature detail

Could using AppWrite (self hosted Firebase equivalent) could be a good idea for Immich ?

https://github.com/appwrite/appwrite#client

AppWrite is multi-languages, and fully self hosted. There is a lot of service who could be useful for immich i think ...

Services
[Account](https://appwrite.io/docs/client/account) - Manage current user authentication and account. Track and man

[2022-06-11 14:13] alextran1502 commented on #215
This would require the entire backend to be migrated and Immich will be dependent on a different solution. This is not suitable for Immich and the current development plan

[2022-06-11 14:15] alextran1502 commented on #214
Yep, there is no button for singing out yet.

[2022-06-11 23:14] alextran1502 commented on #102
Is this issue still relevant?

[2022-06-12 02:59] alextran1502 commented on #210
Hello, did you have a chance to test on a different VM?

[2022-06-12 04:15] alextran1502 commented on #214
You can now signout by clicking on the user profile icon and then press sign out

<img width="422" alt="Screen Shot 2022-06-11 at 23 11 43" src="https://user-images.githubusercontent.com/27055614/173214120-853396c2-ecd5-4b16-b05f-aea715b3e9b8.png">

[2022-06-12 04:17] #214 closed

[2022-06-12 04:19] alextran1502 commented on #195
This is very specific and at the moment and we don't have the capacity for this yet. I will keep this in mind, and if there are more requests for this, then I will revisit this issue.

[2022-06-12 04:19] #195 closed

[2022-06-12 04:20] alextran1502 commented on #154
I still cannot reproduce this issue. Closing for now, if there are additional reports for such behavior, I will reopen this.

[2022-06-12 04:20] #154 closed

[2022-06-12 04:22] alextran1502 commented on #33
The work is being carried on in #207 - Closing this issue

[2022-06-12 04:22] alextran1502 commented on #64
Closing this issue as it is the expected behavior for the app at this stage.

[2022-06-12 04:22] #64 closed

[2022-06-12 04:23] BackedUpBooty commented on #214
Hi Alex, that's great, thank you very much!

[2022-06-12 04:29] alextran1502 commented on #170
Closing this issue as this is mostly a configuration problem from the user's side and it has expanded into an issue with scattered information about a different topic.

Please visit the Discord channel for additional help https://discord.gg/rxnyVTXGbM

[2022-06-12 04:29] #170 closed

[2022-06-12 08:00] Nonobis opened #220 "[FEATURE] Edit user on the web"
**Describe the bug**
Can't edit user in web

**Task List**
- [ ] I have read thoroughly the README setup and installation instructions.
- [ ] If my setup is different, I have included my docker-compose file.
- [ ] I have included my redacted `.env` file.
- [ ] I have included information on my machine, and environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Backend / User Page

[2022-06-12 15:16] hialvaro opened #221 "[Docs]: Set up instructions"
### Feature detail

It would be great to have a better documentation on how to set up an instance. I think that a Raspberry Pi setup instructions would be great too.

### Platform

Server

[2022-06-12 17:06] stumpylog opened #222 "[BUG] ENABLE_MAPBOX Environment ignored?"
**Describe the bug**
Although my .env file includes `ENABLE_MAPBOX=false`, it appears the microservices container is still attempting to connect to MapBox:

[code]

**Task List**
- [x] I have read thoroughly the README setup and installation instructions.
- [x] If my setup is different, I have included my docker-compose file.
- [x] I have included my redacted `.env` file. (no changes beyond UPLOAD

[2022-06-12 17:42] alextran1502 commented on #222
I found the bug, will push out the fix soon

Thank you

[2022-06-12 23:19] #222 closed

[2022-06-13 19:47] alextran1502 commented on #190
Some update on this issue, this is probably a memory error when the app tries to read a large file into RAM. I will update once I've come up with a solution

[2022-06-14 17:37] League2EB commented on #17
@ippocratis

Thank you for your feedback

I tried docker-compose Down to remove the container and re-docker-compose up -D

I still have this problem, I hope you can help me

thank you

[code]

[2022-06-15 06:33] League2EB commented on #17
@ippocratis
Thank you for your help. The problem has been solved

[2022-06-15 12:45] #17 closed

[2022-06-16 09:34] Leberkassemml commented on #210
For me, when i restart my server (Openmediavault) immich_postgres does not start and an service in the stack produces a high CPU load. Once i restart immich_postgres maually, everything works fine.

Maybe that's the same problem OP has?

Note that i don't have the latest docker image yet, i use portainer and have immich-machine-learning deactivated.

[2022-06-16 12:35] darrylgibbs commented on #210
Sorry for the massive delay.

So I fired up a new VM, and install immich (using the new container layout I see) and I still have the same issue, although now it's the MACHINE LEARNING container and not MICROSERVICES.  These containers have been up for about an hour at the time of the screenshot, and with about 30 images on the server.  The VM has 2cores and 2GB RAM, same host HW if that makes any

[2022-06-16 13:52] darrylgibbs commented on #210
@alextran1502 This was a different VM, but on the same Proxmox host.

[2022-06-16 21:11] alextran1502 commented on #210
@darrylgibbs so probably somethings with that container cannot run on your machine. Is there anything strange you able to observe from the log of that container?

[2022-06-17 00:01] darrylgibbs commented on #210
Other than this, no:

[code]

What function will I loose without that container? Object recognition?

[2022-06-17 00:12] alextran1502 commented on #210
@darrylgibbs ohhh the container is not event starting up! It keeps restarting so that is why the CPU usage is high. You mentioned that you are using Promox right? Have you tried setting the CPU to host? Refer to the last section in Readme!

[2022-06-17 10:03] darrylgibbs commented on #210
Ah man, I forgot about that! Previously I used Immich on my Pi4, and that wasn't a concern for me then, and then I forgot about it.

It seems my CPU doesn't support AVX/AVX2 which is SUCH A BUMMER!!!  Sorry for wasting your time instead of RTMF!

Either way, fantastic project you have here, and I'll use it regardless!

[2022-06-17 10:03] #210 closed

[2022-06-18 12:36] #54 closed

[2022-06-18 12:36] #190 closed

[2022-06-18 19:19] #102 closed

[2022-06-18 19:20] #185 closed

[2022-06-18 19:34] dashielllubsen opened #229 "[BUG] Trouble setting up on Rpi4"
**My Setup**
I have a raspberry pi 4 8gb running on raspi os buster and I'm trying to install immich on docker.

**Describe the bug**
When I install Immich on my raspberry 4 in docker, I get a fatal error that does not allow the server to be accessible.

**Task List**
- [x] I have read thoroughly the README setup and installation instructions.
- [X] If my setup is different, I have included my doc

[2022-06-18 21:20] alextran1502 commented on #229
Can you try to run the application  from the command line, without using Portainer first?

From what it looks like, this seems like Docker problem on your machine

[2022-06-18 23:44] EnricoBilla commented on #229
Hi, I used your docker-compose and your .env on a Pi4 4GB but everything is working as expected.
Do you have anything else running in docker?

[2022-06-18 23:47] zackpollard commented on #229
The postgres logs make it seem like your raspberry pi's local clock isn't set which could cause a whole bunch of problems. Can you run the `date` command on the terminal and post the output here?

[2022-06-19 00:52] simonliu99 opened #230 "[BUG] Getting TypeError in immich-server when viewing large media files in web interface"
**Describe the bug**
Large video upload works after latest release but logs show errors. Video also does not play in web interface but has thumbnail.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Same video in #54
2. Upload to server
3. Observe TypeError in logs when trying to view in web interface

**Expected behavior**
Video should play without TypeError in web interface.

**Deskt

[2022-06-19 01:22] alextran1502 commented on #230
I guess that video is in the queue to be converted to MP4 (iOS video is MOV and cannot be played on the browser T_T) and it wasn't converted yet when you were trying to play it. Can you check again?

If you uploaded the video a while back and the player on the web cannot play it, do you have a PostgreSQL client to access the database to check for further troubleshooting?

[2022-06-19 03:21] dashielllubsen commented on #229
Yes, I do. I have homeassistant.

[2022-06-19 03:21] dashielllubsen commented on #229
Yes, I do. I have homeassistant supervised.

[2022-06-19 03:25] dashielllubsen commented on #229
When I originally installed it, I stored my docker-compose file in /immich and stored my .env file in /var/lib/docker. Are those the right places to store my files? I just want to make sure that isn't causing it. Thank you!

[2022-06-19 03:39] simonliu99 commented on #230
You're right, it does like it loads and plays back fine once it's been processed through the mp4 converter.

[2022-06-19 03:39] #230 closed

[2022-06-19 03:52] dashielllubsen commented on #229
I have fixed my date and time and still are getting the errors in the server which make this unusable.

[2022-06-19 05:17] alextran1502 commented on #229
@dashielllubsen the `.env` file should be in the same directory where the docker-compose file is at. Additionally, there is a Nginx configuration file that the docker-compose file is looking for as well

[2022-06-19 13:16] #199 closed

[2022-06-19 18:45] Nonobis opened #232 "[Feature]: Metadata Editor"
### Feature detail

Hello,

A metadata editor could be very cool feature, with update of metadata directly on file

For fixing date/time of files or gps coordinate etc ...

### Platform

Web

[2022-06-19 18:47] Nonobis opened #233 "[Feature]: Image rotation"
### Feature detail

Add a feature for rotation of image

90 (left / right) / 180

### Platform

Web

[2022-06-20 13:21] indieaz opened #235 "[Feature]: Enable Android app to continue backup process while phone screen is turned off or other app active."
### Feature detail

Current behavior: When switching from the Immich Android app to another app, or turnint my phone screen off the upload/backup process pauses.   When starting on a brand new device the backup process may take a long time and it's inconvenient for the user to leave the app open/running with the screen on.

Desired behavior: Backup process continues in app, regardless of phone sta

[2022-06-20 13:22] indieaz opened #236 "[Feature]: Automatic Backup"
### Feature detail

Current behavior: User must manually initiate the backup process and the Android App.

Desired behavior:  App periodically scans for new assets and uploads automatically.

### Platform

Mobile App

[2022-06-20 14:54] dashielllubsen commented on #229
My env file is in the same directory as my docker-compose file. By Nginx config file, do you mean the settings folder that the nginx container generates in the same directory as my docker-compose file and my env file? Thanks

[2022-06-20 17:31] alextran1502 opened #237 "[DEPLOYMENT] Update metadata on F-droid to restore automated update"

[2022-06-20 17:59] matthinc opened #238 "[Feature]: Global Map"
### Feature detail

It would be nice to have a global map that shows the positions of all backed-up photos.

To limit the number of markers, [Marker Clustering](https://github.com/Leaflet/Leaflet.markercluster) could be used.

### Platform

Web

[2022-06-20 23:10] #197 closed

[2022-06-20 23:55] alextran1502 commented on #237
Open an MR(PR) on F-droid repository

https://gitlab.com/fdroid/fdroiddata/-/issues/2698

[2022-06-21 00:04] alextran1502 commented on #229
@dashielllubsen Yes, it is correct. As you can see in the docker-compose file, the Nginx config file is mapped to the config folder in the `docker` directory of the repo.

[2022-06-21 07:24] xpwmaosldk commented on #235
It seems to be one of the important factors.

In my case.
I take a lot of pictures at once when traveling with my family.

[2022-06-21 15:21] spupuz opened #241 "[Feature]: ability to share image to third party app"
### Feature detail

ability to share a picture or a video to a third party app in android and ios, for example whatsapp o something else

### Platform

Mobile App

[2022-06-21 17:49] PDXUser opened #242 "[BUG] 500 JSON error after install"
After fresh install following the readme.md here, I get a JSON error upon loading the URL for the first time:
[code]

The error in the web server container is as follows:

[code]
I do get the "New version" announcement dialog which works, but it does not show the current version of the installed server.

The Machine learning, Microservice, Server, postgres and redis containers do not show any erro

[2022-06-21 17:57] PDXUser commented on #242
[code]

[2022-06-21 18:36] PDXUser commented on #242
Ahhh thanks!  I guess I was confused by the statement about the IP address, I though it would auto config the 2283 after the fact.  Good to know!  I was able to register now and get to exploring your product.  Thanks!

[2022-06-21 21:28] alextran1502 opened #244 "[Feature]: Documentation skeleton"
### Feature detail

This issue is for discussing and implementing the skeleton of the content for the documentation site.

This is what I have in mind currently, feel free to copy and add in your ideas, suggestions

**Installation Guide**
[code]

**Reverse Proxy Guide**
[code]

### Platform

Web

[2022-06-22 14:38] tokenwizard commented on #7
Ah, ok. I already have a functioning setup with NC handling all my automatic backups and PhotoView indexing my NC folder. I was just hoping to take advantage of Immich's better AI/Recognition services.

Thanks for the reply.

[2022-06-22 16:55] Nonobis opened #247 "[Feature]: Yealy vertical Timeline"
### Feature detail

A vertically timeline by year cool be a good idea for immich (web/mobile)
Like on G Photos

### Platform

Web

[2022-06-22 18:22] Nonobis opened #248 "[BUG] Upload sames images multiples times create duplicates"
**Describe the bug**

On web, when uploading same images multiple times, the interface display multiples times the pictures.
I don't know if image are physycally duplicated, on only on display.

**Task List**
- [X] I have read thoroughly the README setup and installation instructions.
- [X] If my setup is different, I have included my docker-compose file.
- [ ] I have included my redacted `.env` f

[2022-06-22 18:29] alextran1502 commented on #248
When you refresh the page, is the duplicated image still there?

[2022-06-23 01:35] alextran1502 commented on #248
Hmm interesting, so that means the image is duplicated physically. So before uploading the file to the server, the web will check for this format

[code]

If the file is modified or has different names, then it will upload.

Can you help me check the file?

[2022-06-23 01:37] alextran1502 commented on #248
From one father to another, happy late father's day!

[2022-06-23 04:45] Nonobis commented on #248
i think i have understand the problem... i have made a first upload of this pictures. The date/time of file was wrong, so i made a quick program for extract OrginalDatetime from the metadata and re-apply it to files before re-uploading (as there is no deletion for now).

It was my assumption your where calculating an hash of file for testing if picture was truly unique.  (i use this nuget in .Net

[2022-06-23 04:51] Nonobis commented on #248
![image](https://user-images.githubusercontent.com/3251510/175213219-165da62d-b339-4466-b564-1d5272f755ab.png)

[2022-06-23 04:54] Nonobis commented on #248
i have found that duplicate image have double extension in web ui *.jpg.jpg i don't known if it can help....

[2022-06-23 04:57] Nonobis commented on #248
![image](https://user-images.githubusercontent.com/3251510/175214638-7d673abe-2fae-4f34-8c94-a63f5a94f859.png)
![image](https://user-images.githubusercontent.com/3251510/175215134-bb7cd63a-e8eb-4e9d-9cc2-25764a9ea856.png)

[2022-06-23 06:06] SirBogner commented on #248
Regarding the jpg.jpg extension: It seems to me that images uploaded from the web create a double .jpg extensions and the images uploaded from the app creates a single

[2022-06-23 09:57] mineketchup opened #251 "[BUG] Cannot get user creation screen on IP:2885 - Error 500"
**Describe the bug**
I get Error 500 when accessing IP:2885 and I'm not able to create a user
I'm trying to set up this docker on a Raspberry Pi 4 8GB model and I'm failing. I didn't have issues on old versions like 1.7 (when there was no web interface)

**Task List**
- [x] I have read thoroughly the README setup and installation instructions.
- [x] If my setup is different, I have included my doc

[2022-06-23 12:45] alextran1502 commented on #251
For your VITE_SERVER_ENDPOINT can you try http instead of https?

[2022-06-23 12:46] alextran1502 commented on #251
Also with the latest version you should only commented out the immich-machine-learning. You will need immich-microservice for the core functionalities

[2022-06-23 12:50] alextran1502 commented on #248
This can be a solution, related to the deduplication on the server.

[2022-06-23 18:02] Tschuuuls commented on #165
It would probably be useful to set a threshold on the age of photos. Like delete everything that's backed up and older than 2 Years for example.

[2022-06-23 18:07] Tschuuuls commented on #38
[Photo Sync](https://www.photosync-app.com/) does exactly this. Creates a Folder with device name, then subfolders for all the "Albums" on iOS/Folders on Android. It also preserves original Filenames.
This behavior is pretty neat if you ever need to manually go in and look for a photo on an SMB share for example.
Would be awesome, if Immich could work with those backups :)

[2022-06-23 18:38] mineketchup commented on #251
Oh sorry, I mistakenly uploaded the old .env file. In fact the old one was giving me the same error but with https://192.168.11.2:2558/
Changing it to http didn't solve anything so I created this report

I'll try that later when I get back to home, but I first encountered the same error when I had them without commenting out so I don't think it will solve the problem.

Anyway, appreciate your help

[2022-06-23 19:22] nicopace opened #254 "[Feature]: syncing through the internet"
### Feature detail

It would be great if immich could sync photos to a home server while out... similar to how syncthing.net does by using proxy servers.

### Platform

Server

[2022-06-23 20:01] alextran1502 commented on #251
Another thing you should check is to allow on Firewall UFW port 2283 and
2285

On Thu, Jun 23, 2022 at 1:39 PM mineketchup ***@***.***>
wrote:

[2022-06-23 21:25] dashielllubsen commented on #229
Hi. I have tried so hard to get this to work. I even removed everything and recreated the config files, but I keep getting the same errors. What should I do?

[2022-06-23 21:27] dashielllubsen commented on #229
I am just getting trace/breakpoint trap, core dumped. Does it have anything to do with the tensorflow build issue?

[2022-06-23 22:05] alextran1502 commented on #254
Hello,

Can you elaborate a little bit more about this feature, as I haven't used Syncthing yet so I don't have a mental flow of how this feature should work

[2022-06-23 22:15] dashielllubsen commented on #229
Yes, I could definetely do that. I will let you know once I have formatted it.

[2022-06-24 00:19] zackpollard commented on #221
Closing as this and more is covered in https://github.com/alextran1502/immich/issues/244

[2022-06-24 00:19] #221 closed

[2022-06-24 00:21] athornfam2 opened #255 "Clear Instructions"
The question option looks to be gone when submitting an issue...

Hoping the maintainer or others could answer.. What are the steps/procedures to to install all the requirements and operate the application on a Ubuntu VM?

[2022-06-24 00:35] zackpollard commented on #255
There are instructions to setup the application in the README file on the repo using docker-compose. Please try to follow those instructions then file an issue if you can't get it working with those steps or join the discord to get help from us or the community.

[2022-06-24 00:35] #255 closed

[2022-06-24 00:47] mineketchup commented on #251
1. So I updated docker-compose to the latest version available (2.6.1) from the releases pages of their github page and tried to run by removing the comments from immich_microservices and i still get the same error:

docker-immich-web-1            |     at ClientRequest.<anonymous> (file:///usr/src/app/build/shims-eb608bdd.js:6246:11)
docker-immich-web-1            |     at ClientRequest.emit (nod

[2022-06-24 01:29] mineketchup commented on #251
So I was able to use the correct time zone inside docker by specifying:

      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

So it uses the same time as the host, but it doesn't seem to resolve anything

[2022-06-24 02:35] alextran1502 commented on #251
I just got a Pi4 today, let me spin up one and try then I will get back to you

[2022-06-24 02:57] mineketchup commented on #251
That's nice to hear, thank you!

In the meanwhile:
1. As a test, I started Immich from the old immich-1.9.0_13-dev and created a user by sending the command ` curl --location --request POST 'http://192.168.11.2:2283/auth/signUp' \` and it was successiful.
2. Then I stopped the containers and restarted Immich but this time with the immich-1.12.0_18_dev
3. Then I opened the app and tried to login wi

[2022-06-24 04:29] alextran1502 commented on #251
There is a new release we've just pushed out

https://github.com/alextran1502/immich/releases/tag/v1.13.0_20-dev

This release includes the changes in the docker-compose file to fix a vulnerability related to PostgreSQL and also fix the issue with CORS. This perhaps helps fix the issue you are facing as well. Please take a look at the release file as well as the readme file for setup instruction

[2022-06-24 04:30] alextran1502 commented on #229
There is a new release we've just pushed out

https://github.com/alextran1502/immich/releases/tag/v1.13.0_20-dev

This release includes the changes in the docker-compose file to fix a vulnerability related to PostgreSQL and also fix the issue with CORS. This perhaps helps fix the issue you are facing as well. Please take a look at the release file as well as the readme file for setup instruction

[2022-06-24 04:32] dashielllubsen opened #258 "[Feature]: Add directory of local photos on external disk to immich"
### Feature detail

Is there any way to import a already created directory into immich? My photos are already stored on an external drive and  I have hundreds of GB’s on that drive worth in photos.

It would be great to be able to use Immich on my devices to access these photos.
If not, could you consider this as a feature to a add?

thank you!!

### Platform

Server

[2022-06-24 04:34] alextran1502 commented on #258
There is currently no plan for this feature. It is one of the most requested features. I and the team will consider this.

[2022-06-24 04:35] alextran1502 commented on #229
@dashielllubsen I saw that you have opened a features request, I assume after reformatting the SD Card, you are able to run Immich?

[2022-06-24 04:36] alextran1502 opened #259 "[BUG] Websocket is able to run on Staging image but not on Production image"
Websocket is able to run on Staging image but not on Production image

[2022-06-24 11:26] mineketchup commented on #251
Maaaan, we were absolutely blind.....
I've put IP:2883 insted of IP:2283 in the .env file....... and I was continuing to do the same error for every new instance and configuration....
Now it works..... I'm really sorry for this stupid mistake and wasting of your time

[2022-06-24 11:34] nicopace commented on #254
The relevant part of syncthing is they use a network of servers for discovery and NAT traversal, so syncthing instances can find each other over the internet and sync files even if they are not on the same network, and even if they don´t have ports exposed to the internet.

From my point of view, this feature is useful as I backup photos not only for the people that live in the same house than me,

[2022-06-24 11:35] #251 closed

[2022-06-24 11:40] #259 closed

[2022-06-24 11:43] alextran1502 commented on #254
If I understand you correctly, you want your family members to use the Immich instance you are hosting so that all their photos and videos on their phones are backed up to your server, am I understanding correctly your usecase?

[2022-06-24 11:43] alextran1502 commented on #237
App is now updated

[2022-06-24 11:43] #237 closed

[2022-06-24 11:51] nicopace commented on #254
Yes. The caviat is that the server is running here at home, in a raspberry pi... so it is behind a NAT.
This could be solved in other ways:
- setting up a VPN using wireguard or zerotier, but adds a layer of complexity that people might not go for
- installing immich on a VPS, but the security of having the storage at home, or the affordability of hard drives can´t be matched on the cloud

On the

[2022-06-24 11:53] alextran1502 commented on #254
You can set up a reverse proxy, that is the current setup for a lot of users. Is this something viable to you?

[2022-06-24 11:59] alextran1502 commented on #251
@mineketchup  Ah, no worry. By the way, there is a new release and setup, the changes are noted in the release note.

[2022-06-24 12:17] alextran1502 commented on #258
Duplicate #7

[2022-06-24 12:17] #258 closed

[2022-06-24 15:13] alextran1502 commented on #254
You don't need a VPS to perform reverse proxy, you can reverse proxy directly from your raspberry pi. You only need to have a domain name, unfortunately, you have to buy this one ranging from $1/month to $$$$/month, depending on the popularity of the name :P.

This feature is not in the scope of Immich since there are already other tools that serve the duplication and synchronization purpose, like

[2022-06-24 23:52] jschwalbe commented on #135
Would you be able to easily add this to Dockerhub?

[2022-06-25 03:34] #254 closed

[2022-06-25 04:09] athornfam2 opened #262 "[BUG] Issue Building container docker-compose"
**Describe the bug**
Issue with compose running on 3.8 under docker-composer.yml but in the file if I change it the docker-compose progresses further but still fails (see the 2nd screenshot)

**Task List**
- [x] I have read thoroughly the README setup and installation instructions.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy the contents of docker-compose.yml file from immich (code)

[2022-06-25 05:36] alextran1502 commented on #262
Can you try to follow exactly the readme instruction first to see if it works out of the box for you?

The docker directory mentioned in the readme is the docker directory of this repository.

Let me know if that is the misunderstanding, I will put it in the task list to make the documentation clearer

[2022-06-25 06:02] athornfam2 commented on #262
Instructions need updated. I had no idea I needed to use the default DB information to built out the container/server...

I'm here now but now webpage is visible.

![image](https://user-images.githubusercontent.com/74559383/175760690-8b59df61-73b1-4959-bfe0-91c1c0a3570e.png)

[2022-06-25 06:04] alextran1502 commented on #262
Is everything working for you?

[2022-06-25 06:08] athornfam2 commented on #262
Well if you look at the latest screenshot my curser is just sitting there on the docker-compose -f ./docker/docker-compose.yml up
. I can't access the GUI via HTTP/s... so still stuck.

[2022-06-25 06:13] alextran1502 commented on #262
Can you provide your .env file?

[2022-06-25 06:15] athornfam2 commented on #262
`###################################################################################
# Database
###################################################################################
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE_NAME=immich

###################################################################################
# Redis
#############################################################

[2022-06-25 06:19] alextran1502 commented on #262
Your VITE_SERVER_ENDPOINT need /api at the end

[2022-06-25 06:25] athornfam2 commented on #262
Changed but still getting an error connection refused.

[2022-06-25 06:27] alextran1502 commented on #262
Did you bring the container down and back up to register the change?

What is the url you are using the access the web interface?

[2022-06-25 06:31] athornfam2 commented on #262
Yup gracefully stopped the docker instance with a CTRL+C - All services done. Made the .env change as suggested and then ran the docker-compose -f /var/lib/docker/docker-compose.yml up

I've tried accessing it multiple ways and tried the same urls in a incognito instance:

http://192.168.2.134
http://192.168.2.134:2283
http://192.168.2.134:2283/api
https://192.168.2.134
https://192.168.2.134:2284

[2022-06-25 07:05] mineketchup commented on #251
Everything works as expected. Thank you for this awesome product!

[2022-06-25 09:49] m4rkv5 commented on #229
To confirm that the image is ok, I did a fresh install with version 1.13.0 on Rpi4 and everything seems to work (except disabled machine learning).

Raspberry Pi 4 Model B Rev 1.4
Debian GNU/Linux 11 (bullseye) aarch64
Kernel: 5.15.32-v8+

[2022-06-25 10:15] m4rkv5 commented on #248
When i have the webview open an upload images via iOS, i see duplicates in the web view. When I download them, the files have different IDs. After a page refresh i don't see duplicates any longer.

V 1.13.0

[2022-06-25 12:42] alextran1502 commented on #262
Hmm, does your system has UFW that block a range of port? Do you see anything from the immich-server log?

What is the response on the browser when you try to hit http://your-ip:2283/api/server-info/ping?

[2022-06-25 15:26] athornfam2 commented on #262
root@ubnt-20-01-tmp:/var/lib/docker# selinux
selinux: command not found
root@ubnt-20-01-tmp:/var/lib/docker# selinux status
selinux: command not found

I also get an error connection refused but I can browse port 80 and get the nginx page

[2022-06-25 15:46] alextran1502 commented on #262
Hmm that doesn't look like the log from the server cotnainer

[2022-06-25 18:29] #229 closed

[2022-06-25 18:51] hugo-laestander opened #265 "[Feature]: Externally shared album to non-users (collaborative / non-collaborative)"
### Feature detail

Often when a group of friends has done something together, they will have taken photos that the other people in the group would like to have. People want a quick and easy way to share the photos (without destroying the quality).

I think this would be a great feature for Immich to have, and as I see it, two options could be had:

1. a combined shared album where everyone can co

[2022-06-25 19:05] alextran1502 commented on #265
I think the album feature on the mobile app is serving what you are looking for, correct?

If so, it is just not being implemented on the web yet but the plan is in place.

[2022-06-25 19:06] alextran1502 commented on #265
Ah I apologize, I misread the title. This is to share the album externally.

[2022-06-26 03:47] athornfam2 commented on #262
`immich-microservices_1     | [Nest] 29  - 06/26/2022, 1:59:40 AM     LOG [InstanceLoader] BullModule dependencies initialized +0ms
immich-microservices_1     | [Nest] 29  - 06/26/2022, 1:59:41 AM     LOG [InstanceLoader] TypeOrmCoreModule dependencies initialized +459ms
immich-microservices_1     | [Nest] 29  - 06/26/2022, 1:59:41 AM     LOG [InstanceLoader] TypeOrmModule dependencies initialized

[2022-06-26 04:49] alextran1502 commented on #262
Everything looks fine, hmm. I am not sure what is going on here. Do you have a different server that you can try?

Did you say that when accessing http://192.168.2.134:2283/api/server-info/ping you received a connection refuse error?

[2022-06-26 11:03] zackpollard commented on #262
Did you copy the nginx config in the repo to your mounted folder on the nginx container? This isn't currently in the documentation but will be added soon. Were transitioning the docker compose and readme documentation to a more production oriented setup.

[2022-06-26 13:36] athornfam2 commented on #262
I haven't done this. What's the path that I am looking for to copy this config file?

[2022-06-26 13:46] zackpollard commented on #262
You can find that file here, copy it to the folder mounted to the nginx container. https://github.com/alextran1502/immich/blob/main/docker/settings/nginx-conf/nginx.conf

[2022-06-26 14:30] athornfam2 commented on #262
Added the file nginx.conf here /var/lib/docker/settings/nginx-conf/nginx.conf with the info in the github file. Rebooted and still no GUI page.

[2022-06-26 14:36] alextran1502 commented on #262
Can you clone the repo and then perform the steps from the clone repo?
Probably the mapping in docker-compose file is not correct on your current
setup

On Sun, Jun 26, 2022 at 9:30 AM athornfam2 ***@***.***> wrote:

[2022-06-26 15:30] athornfam2 commented on #262
Ok... Wow! I finally got a message at least.

{"statusCode":404,"message":"Cannot GET /api","error":"Not Found"}

[2022-06-26 15:32] zackpollard commented on #262
What URL did you get that error on? Could you post the logs from your nginx container?

[2022-06-26 15:33] zackpollard commented on #262
That is what we would expect to see. What do you get at http://192.168.2.136:2283/ ?

[2022-06-26 15:34] athornfam2 commented on #262
Wowzers finally the GUI as depicted in the readme

[2022-06-26 15:36] zackpollard commented on #262
Good to hear! We have upcoming work to improve the documentation, however this project isn't in full release yet and is changing daily so documentation can go out of date quickly. These things will be ironed out once we hit our first release milestone.

[2022-06-26 16:04] athornfam2 commented on #262
For future reference to those that have similar troubles. @zackpollard @alextran1502 I'm okay with either of you adding this to the Readme since I don't know how to do a pull and commit

Resolution:

1. docker stop $(docker ps -a -q)
2. docker rm $(docker ps -a -q)
3. git clone https://github.com/alextran1502/immich.git
4. mv .env (from /var/lib/docker) /var/lib/docker/immich
5. mv docker-compose.

[2022-06-26 16:08] zackpollard commented on #262
I'll look into making some changes to the readme in the coming days. Glad everything is working for you now!

[2022-06-26 16:08] #262 closed

[2022-06-26 21:07] athornfam2 opened #267 "[BUG] Broken Photos/Storage After Upload Move"
**Describe the bug**
Me again... After getting immich through the default settings installed on the dev/sda partition. I decided to create a new drive through vmware to store more pictures/videos, Images appear broken after move, storage undefined or not correct but storing data in the new location, server/storage offline (fluctuates between)

**Task List**
- [ ] I have read thoroughly the README

[2022-06-26 21:20] zackpollard commented on #267
Could you please post your .env file as requested in the template, along with your docker-compose if it is different to the default on in the repo.

Also please attach the most recent logs from the immich-server.

[2022-06-26 21:30] athornfam2 commented on #267
.env file

`  GNU nano 4.8                                 .env
###################################################################################
# Database
###################################################################################
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE_NAME=immich

###################################################################################
# Uplo

[2022-06-26 21:43] athornfam2 commented on #267
Immich-server

`> immich@1.5.1 start

[Nest] 29  - 06/26/2022, 5:54:16 PM     LOG [NestFactory] Starting Nest application...
[Nest] 29  - 06/26/2022, 5:54:16 PM     LOG [InstanceLoader] DatabaseModule dependencies initialized +168ms
[Nest] 29  - 06/26/2022, 5:54:16 PM     LOG [InstanceLoader] TypeOrmModule dependencies initialized +1ms
[Nest] 29  - 06/26/2022, 5:54:16 PM     LOG [InstanceLoader] B

[2022-06-26 21:44] athornfam2 commented on #267
docker-composer.yml

`version: "3.8"

services:
  immich-server:
    image: altran1502/immich-server:latest
    entrypoint: ["/bin/sh", "./start-server.sh"]
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    depends_on:
      - redis
      - database
    restart: always

  immich-microservices:
    image: altran15

[2022-06-26 21:46] zackpollard commented on #267
Thanks, the logs seem to be from the immich microservices rather than from immich-server, could you double check those are the logs from the container with immich-server as its name in the docker-compose? Just so you're aware both immich-server and immich-microservices use the same image, but different entrypoint, which may have lead to the confusion.

[2022-06-26 21:50] alextran1502 commented on #267
If your the value of your UPLOAD_LOCATION is different between setup, it won't work since the path is written into the data base.

[2022-06-26 21:52] zackpollard commented on #267
Should this not be relative to the location in the container though? So if the files on the host change location it shouldn't actually matter?

[2022-06-26 21:57] athornfam2 commented on #267
Correct server logs

`root@ubnt-20-01-tmp:/var/lib/docker/immich/docker# docker logs ece87d96f566

[Nest] 53  - 06/26/2022, 5:54:10 PM     LOG [NestFactory] Starting Nest application...
[Nest] 53  - 06/26/2022, 5:54:11 PM     LOG [ImageClassifier] Running Node TensorFlow Version : 3.15.0
[Nest] 53  - 06/26/2022, 5:54:11 PM     LOG [ObjectDetection] Running Node TensorFlow Version : 3.15.0
[Nest] 5

[2022-06-26 21:59] zackpollard commented on #267
Sorry again, those are the machine learning logs 😄

[2022-06-26 22:15] athornfam2 commented on #267
Which would would you like logs from?

![2022-06-26 18_14_36-Window](https://user-images.githubusercontent.com/74559383/175835748-27fdd340-b79a-430f-8006-589164ade04a.png)

[2022-06-26 22:17] zackpollard commented on #267
cc2dc2220f22
If you look at the command you can see it's ./start-server instead of ./start-microservices

The containers should also have container names but it looks like that's being cut off in your terminal as they're wrapping to the next line

[2022-06-26 22:36] athornfam2 commented on #267
`root@ubnt-20-01-tmp:/var/lib/docker/immich/docker# docker logs cc2dc2220f22

[Nest] 29  - 06/26/2022, 5:54:17 PM     LOG [NestFactory] Starting Nest application...
[Nest] 29  - 06/26/2022, 5:54:17 PM     LOG [InstanceLoader] DatabaseModule dependencies initialized +168ms
[Nest] 29  - 06/26/2022, 5:54:17 PM     LOG [InstanceLoader] TypeOrmModule dependencies initialized +1ms
[Nest] 29  - 06/26/202

[2022-06-26 22:41] zackpollard commented on #267
Error: ENOENT: no such file or directory, open 'upload/cbae0d9e-6dd8-47f9-b239-72bdadaa360c/thumb/4f47392099611702ae55a6df11fbfc53b9f4e8748477b310851d6e2e98c8440c/ea5fdadb-cf4e-447c-a224-a311e8cb4279.webp'

Does this file exist in the new storage location?

From the command run in your original screenshot it looks like you might've not moved all files from the old storage location to the new stora

[2022-06-26 22:56] athornfam2 commented on #267
Hmm thumb data doesn't exist. I was thinking it would rebuild that if it picked up the photo... Well that folder is gone

[2022-06-26 22:57] zackpollard commented on #267
If it is completely gone, you will need to re-upload the files, in the database they are now marked as uploaded and it's probably easier to re-upload everything than fix that

[2022-06-26 22:58] zackpollard commented on #267
I would suggest at this point to wipe the database and the upload folder and re-create from scratch

[2022-06-26 23:01] alextran1502 commented on #267
We were about to implemented a schedule task thay run once per day to generate thumbnail for photos and images that doesn't have one or missing. But other higher priority tasks had taken precedented over the implementation of the said task 😅

[2022-06-26 23:02] alextran1502 commented on #267
Yes, my bad. As long as the top level folder structure is correct it should work

[2022-06-26 23:34] zackpollard commented on #267
I believe this issue is now resolved, as such i'm going to close this issue as it is not a bug with Immich. If you have any further problems there is a discord server where we can give you help, or feel free to open another ticket here 😄

[2022-06-26 23:34] #267 closed

[2022-06-27 04:39] rmGFW opened #269 "[BUG] start docker-compose and shows that unable to connect to the database"
How to repetition :
1 . pull the main branch
2.  cd docker && cp .env.test .env
3. docker-compose up

![image](https://user-images.githubusercontent.com/66858140/175861212-bd60c6ad-ca2d-4e2b-9bb4-587310dd652d.png)

[2022-06-27 08:39] spupuz opened #270 "[BUG] unable to access from external internet via nginx proxy manager"
i i try to access from external i can login but then page is empty and do not shows anything:

![image](https://user-images.githubusercontent.com/1721792/175897207-b58dac9f-2d8b-4e76-9359-3a2378b1b78f.png)

and administration page give this error

[code]

[2022-06-27 09:32] zackpollard commented on #270
Resolved in discord, closing issue

[2022-06-27 09:32] #270 closed

[2022-06-28 07:31] xpwmaosldk opened #274 "[BUG]: ImageViewerPage UX and Exif Panel strange interaction"
### Feature detail

RemotePhotoView in ImageViewerPage is interacting with Touch Events strangely.

Swipe events interact with both the image viewer and the Exif details panel. This causes strange behaviour when swiping around the screen as can be seen below in the attached videos.

### Platform

Mobile App

[2022-06-28 08:21] zackpollard commented on #274
I'm not entirely sure what the issue is that your describing here is. Would you be able to provide a video of the issue you're describing?

[2022-06-28 10:14] zackpollard commented on #274
Alright I understand the issue now. I'm going to change this to a bug ticket and will add more detail to the original message

[2022-06-28 12:08] alextran1502 commented on #274
I would say it is more prominent on the emulator, it is less noticeable like the first video you showed on a real device, have you had a chance to try it on a real device?

Regardless, I like how Google Photos UX on this page but my first try didn't go well so the current resolution is for functionality only, my hope is to get the same bottom sheet dragging  sometimes in the future

[2022-06-28 12:24] xpwmaosldk commented on #274
I had a similar feeling on the device as well.
It becomes more prominent when dragged to the corner of the device.

If possible, I will try to change it by referring to Google Photos. :)

[2022-06-29 15:06] bertmelis opened #277 "[Bug] Problem with deploying Immich using `podman-compose`"
After launching Immich using podman-compose, containers are started but as soon as I try to access the webpage, (at least) the web container exits because of `Error: listen EADDRINUSE: address already in use 0.0.0.0:3000`

[code]

podman-compose.yml:
[code]

.env
[code]

`sudo netstat -pna | grep 3000` shows no other open ports

I'm trying to set up Immich on Rocky Linux (RHEL) with Podman. I use

[2022-06-29 15:26] alextran1502 commented on #277
I haven't tested on Podman nor used it before. Is podman-compose similar to docker-compose? If so, if you create a dedicated network, would it work?

[2022-06-29 15:29] alextran1502 commented on #277
We can try to troubleshoot by commenting out `immich-microservices` since it used the same port as the `immich-server`. In `docker-compose`, if you don't expose the port, it won't be conflicted, so this might be different with podman

[2022-06-29 15:31] bertmelis commented on #277
It uses the same (basic) commands but underlying it uses podman of course. `podman-compose up` creates the dedicated network, but it is one network for the whole pod. All the containers in the pod use the same port space. Microservices is started first and claims port 3000. Afterwards, nor server nor web can't use that port anymore even though these ports are not exposed outside the pod.

[2022-06-29 15:50] alextran1502 commented on #277
I think the conflict here is internally to the pod's network

[2022-06-29 15:56] bertmelis commented on #277
- `podman create network immich_network`
- added `network_mode: immich_network` to all the containers in the compose-file.

for both microservices and server.
[code]

PS I might want to move this to discussions...

[2022-06-29 16:21] zackpollard commented on #277
If all we need to do is change the default ports for the servers then i'm not against that, it's a shame that podman doesn't work similarly to docker here as there is no need to have all the containers running on the same IP (which is presumably what's happening here). Is there no alternative way to set this up in podman so each container gets its own IP and they can communicate with internal dns,

[2022-06-29 16:33] bertmelis commented on #277
It is possible, but not if you're rootless. I'm still looking for a workaround though.

[2022-06-29 17:02] alextran1502 commented on #277
If you cannot find a way to work around it, let us know and we will consider changing the port of those containers.

[2022-06-29 17:10] bertmelis commented on #277
I haven't found any clean solutions yet except by creating an abundance of networks.

It would be much cleaner if the ports changed. But before committing this, can I test this myself?

And if it works, can I persuade you with a few 'buy-me-a-coffees'?

[2022-06-29 18:27] alextran1502 commented on #277
Let me build an image with different port and I will write up an instruction of how to test

[2022-06-29 18:55] alextran1502 commented on #277
Ok, so I've just changed the port on `immich-server` to `3001` and `immich-microservices` to `3002`.

It is building in this PR #278

Once you see the check mark is green in the checks section it means that the build is done.

All you have to do on your side is to change the tags of those images to `staging` i.e `altran1502/immich-server:staging` and use this Nginx conf file to replace the one in

[2022-06-29 19:39] bertmelis commented on #277
Works! You're the man!

One thing I had to change though. I specified a custom `redis.conf` file and commented out `bind 127.0.0.1 -::1`.

On container-compose.yml:
[code]

(ref: https://stackoverflow.com/questions/50559985/unable-to-connect-to-redis-from-another-docker-container)

[2022-06-29 20:29] alextran1502 commented on #277
No problem, take your time. I've had my doses for today tomorrow is fine 😄

I will work with the team on a simplified setup to address this issue. Probably this will be pushed out in the next release or so.

Note that the `staging` tag will be overridden by other PR if they are pushed so just FYI to keep in mind 😛

[2022-06-29 20:29] #277 closed

[2022-06-29 21:16] zackpollard commented on #269
I'm going to close this due to lack of information, if you still require help please file another issue with the request information, or find us on discord here https://discord.gg/Umwg7JSh and we'll be happy to help! 😄

[2022-06-29 21:16] #269 closed

[2022-06-29 21:17] bertmelis commented on #277
No problem. I'll guard my images. The Redis issue isn't a problem. Keep up the good work!

[2022-06-29 22:34] SirBogner opened #281 "[BUG] Web viewer wrongly sorts images uploaded from the web"
**Describe the bug**
When uploading images using the web viewer, some images show the right date in the EXIF-metadata-panel, but gets sorted to the wrong date in the timeline.

**Task List**
- [x] I have read thoroughly the README setup and installation instructions.
- [ ] If my setup is different, I have included my docker-compose file.
- [ ] I have included my redacted `.env` file.
- [ ] I have

[2022-06-29 22:37] SirBogner opened #282 "[BUG] Web viewer shows dublicated image extensions"
**Describe the bug**
When uploading images using the web viewer, some images show dublicated image extensions. For example the attatched image "dummy.jpg.jpg"

**Task List**
- [x] I have read thoroughly the README setup and installation instructions.
- [ ] If my setup is different, I have included my docker-compose file.
- [ ] I have included my redacted `.env` file.
- [ ] I have included informat

[2022-06-30 04:39] alextran1502 commented on #277
@bertmelis The new release `v1.15.0` will include the support for podman. Please update your docker-compose file accordingly 😄

Please find the formal release note here https://github.com/alextran1502/immich/releases/tag/v1.15.0_21-dev

[2022-06-30 05:33] alextran1502 opened #284 "[BUG] Mobile app force admin to change password and incorrect password still by pass validation"
Mobile apps force admin to change the password and incorrect passwords still by passing validation

[2022-06-30 09:03] xpwmaosldk opened #285 "[BUG] Server can't connect after v1.15.0_21-dev"
Hi, My environment is MacOS.

Here is my docker-compose.yml
[code]

And server start well but I got message `immich_proxy exited with code 0` then I can't connect server form mobile.
![1](https://user-images.githubusercontent.com/13146337/176636131-00f96a6c-ea95-482c-a9f8-fe4db8b26ab0.png)

Mobile ping(api/server-info/ping) response `Connection refused`
Web is same(ERR_CONNECTION_REFUSED)

I didn'

[2022-06-30 09:05] xpwmaosldk commented on #285
it print periodically.
![2](https://user-images.githubusercontent.com/13146337/176638181-ac07bf50-e244-4d7c-9525-91e78893824c.png)

[2022-06-30 10:53] m4rkv5 commented on #285
Updated from 1.13.0 to latest release and immich_proxy is in restart loop too.

[2022-06-30 11:44] m4rkv5 commented on #285
The issue is that there is no arm version with the tag release.

[2022-06-30 12:23] alextran1502 commented on #285
This is my error.

There was an error after the release is pushed in the Dockerfile, so I fixed, built and pushed the image from my computer. I forgot to consider it also need to be built for Arm64.

It should be fixed now. Please pull immich-proxy and restart the application again.

[2022-06-30 14:03] alextran1502 commented on #285
I believe this is resolved. Closing this issue.

[2022-06-30 14:03] #285 closed

[2022-06-30 15:51] xpwmaosldk commented on #285
I will check tomorrow.
I trust you! 👍

[2022-06-30 18:59] #284 closed

[2022-07-01 01:43] #282 closed

[2022-07-01 13:53] bertmelis commented on #277
I just realized, I commended out the machine learning container as my old J4105 processor doesn't support AVX. But that services also uses port 3001. I obviously can't test this but I suspect this will also conflict.

[2022-07-01 14:12] alextran1502 commented on #277
I think so, can you help me open an issue to change that port? I will have
it included in the next release

On Fri, Jul 1, 2022 at 8:53 AM Bert Melis ***@***.***> wrote:

[2022-07-01 14:20] bertmelis opened #289 "Port conflict on rootless Podman deployment"
When deploying Immich with a rootless pod on Podman, the `machine learning` container runs on port 3001 which is also used by `immich server`.

Changing one port resolves the conflict making Immich as easy deployable on Podman as on Docker.

[2022-07-01 14:21] bertmelis commented on #277
ref: #289

[2022-07-01 15:20] #289 closed

[2022-07-01 19:03] alextran1502 commented on #281
Is this issue still relevant after our conversation on Discord? The image is sorted by the creation date in the EXIF info if it is found, otherwise the creation date will be the time it gets added to the database

[2022-07-02 07:40] SirBogner commented on #281
Yes, it is still relevant. The issue is only present for the web viewer as shown in the pictures (marked as red). The mobile app (Android) functions just fine.

![Info0](https://user-images.githubusercontent.com/83633524/176991526-1e31222b-7dd2-435c-a607-34444a30d881.png) ![Info1](https://user-images.githubusercontent.com/83633524/176991524-e58f411c-ce7b-47cc-a802-5d494fe42c06.png)

[2022-07-02 07:45] SirBogner commented on #281
And another question: When no creation date is present in the EXIF dataset, does Immich create the EXIF variable in the image metadata? This could be useful for those who would like to later extract the images and use them and the EXIF creation date elsewhere.

[2022-07-02 13:32] alextran1502 commented on #281
At the moment, there is not. There is a feature put in for editing exif metadata though.

[2022-07-02 13:34] alextran1502 commented on #281
I think I saw the problem. The date is the same but the year is different. I think I didn't consider the year when grouping the photos

[2022-07-02 17:03] SirBogner commented on #281
I am happy to be able to help the hard working people!

[2022-07-03 02:20] alextran1502 commented on #281
Hey @SirBogner, I tried to recreate the scenario with the same date, and month but with different years, and on my system, it recognizes the difference to group them differently.

Can you help me find a set of photoes that are correctly and incorrectly grouped together and that are not too sensitive and send it to me to test? You can send it on Discord DM.

Thank you for your support

[2022-07-03 09:02] saket1999 commented on #235
One more thing that can be added is "background services" that can run at periodic intervals to scans for new images and upload them without the need to open the app.

[2022-07-03 11:39] meet-minimalist opened #294 "[Feature]: Grouping of images based on faces found in the images."
### Feature detail

Google Photos and iPhone Photos have a feature where photos are organized based on faces found in the image.

Also, there are some self hosted solution providers which also have such feature.
1. https://github.com/photoview/photoview
2. https://github.com/LibrePhotos/librephotos
3. https://github.com/photonixapp/photonix

It would be great if you can provide such feature in imm

[2022-07-03 11:48] zackpollard commented on #294
Hey, this is certainly something we have in the plans, however it's very difficult to do it in the way Google photos does it. We want to have this for the first official release of Immich but we want to do it right, so it might not happen for a little while as we investigate the best way to make this happen.

[2022-07-03 21:30] SirBogner commented on #281
Sure I can!

I will send you a DM

[2022-07-03 23:00] #281 closed

[2022-07-04 03:52] athornfam2 opened #299 "[BUG] issue with latest App Store build"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to the latest Immich app on iOS
2. Go to backups and it will get stuck backing up

**Expected behavior**
Typically this would backup directly to the Immich server before I updated the app

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-07-04 03:55] alextran1502 commented on #299
What is your server and app version?

You can check it from the upper left top icon from the mobile app

[2022-07-04 04:07] athornfam2 commented on #299
1.16.0 & 1.16.0 build 27

[2022-07-04 05:23] alextran1502 commented on #299
Can you try to restart the server as well as to reinstall the app?

[2022-07-04 05:26] alextran1502 commented on #299
Did you perform `docker-compose pull` to update the containers?

[2022-07-04 12:07] alextran1502 commented on #299
There is a user reported facing this issue as well, somehow the key in the database get conflicted and cannot record that newly updated asset.

I will come back with a fix

[2022-07-04 12:44] alextran1502 commented on #299
@athornfam2 for some context, can you show the album that you selected for upload?

[2022-07-04 16:40] athornfam2 commented on #299
Looks to be Recents (All), Recents (All

[2022-07-04 16:45] athornfam2 commented on #299
Performed a server restart and also performed a docker compose pull too... for information

[2022-07-04 16:48] League2EB opened #301 "[BUG] The date is incorrect during CLI or Web upload"
When I use CLI and Web to upload assets
Wrong date with "modify date"
In Immich iOS, the asset uploaded through the most recent project is the correct date

I think this is probably related to the Encoded date field in the EXIF information

Check out the video, THX All

![OOO](https://s8.gifyu.com/images/2022-07-05_12.28.08.gif)

[2022-07-04 17:12] athornfam2 opened #302 "[BUG] Cannot edit existing users"
**Describe the bug**
Under Immich Administration I am unable to "Pencil" the user to edit any information.

**Task List**
- [x ] I have read thoroughly the README setup and installation instructions.
- [x ] If my setup is different, I have included my docker-compose file.
- [ ] I have included my redacted `.env` file.
- [ ] I have included information on my machine, and environment.

**To Reproduc

[2022-07-04 17:42] alextran1502 commented on #299
@athornfam2 So it looks to be a bug in the album selector. Can you make sure that only 1 `Recents(All)` to be selected

[2022-07-04 17:43] alextran1502 commented on #302
Duplicated #220

[2022-07-04 17:43] #302 closed

[2022-07-04 18:44] #301 closed

[2022-07-05 06:48] EnderPicture opened #307 "[BUG] HEVC / H.265 .mp4 videos are not playable on web interface"
**Describe the bug**
HEVC / H.265 videos ending in .mp4 can not play on the web player.
Currently it shows a black screen with only the audio portion playing

**Task List**
- [x] I have read thoroughly the README setup and installation instructions.
- [x] If my setup is different, I have included my docker-compose file.
- [ ] I have included my redacted `.env` file.
- [x] I have included informati

[2022-07-05 07:14] EnderPicture opened #308 "[Feature]: Second server url for fallback / local ip to external domain name swtich"
### Feature detail

It would be nice to automatically switch between uploading from the local network connection when at home to viewing from any location when outside.

example:
- when at home, we connect to `192.168.0.25:2283` for high speed local file transfer to server.
- when outside, we connect to `photo.example.com` to view photos/upload at slower speeds.

### Platform

Mobile App

[2022-07-05 18:39] bo0tzz opened #309 "[Feature]: Scheduled task controls in admin panel"
### Feature detail

It would be nice to have controls in the admin panel to view the status of the scheduled tasks and run them manually. This would be useful for example if they crash, or to help with debugging.

### Platform

Web

[2022-07-05 20:07] bo0tzz commented on #265
On this feature, it might be nice if sharing links could be set to expire after a certain time, and to have a button to expire/revoke them manually.

[2022-07-05 20:23] bo0tzz opened #310 "[BUG] Android: Back button does not return from main app screen"
When on the main screen (gallery view) of the app, the back button does not let you navigate back to another app or the home screen. Screen recording: https://put.bo0tzz.me/w7mnjt68.mp4

**Smartphone (please complete the following information):**
 - Device: Motorola moto g9 plus
 - OS: Android 11

[2022-07-06 03:18] EnderPicture commented on #308
Yes, but connecting through local IP transfers way faster.
- The server is locally hosted
- Server is connected to the domain via cloud flair tunnel

[2022-07-06 07:21] ethanhs opened #311 "[Feature]: Automatically back up on new photo on Android"
### Feature detail

Feature detail

Current behavior: User must manually initiate the backup process and the Android App.

Desired behavior: App automatically backs up when a new photo is taken.

Platform
Mobile App

I know there are some apps that do this, unfortunately I'm not familiar with the Android API well enough to know *how* they do so.

### Platform

Mobile App

[2022-07-06 08:24] #311 closed

[2022-07-06 10:14] zackpollard commented on #307
Hey, currently the video encoding only functions for MOV files. We have work planned to extend this to all files on the server which will hopefully be completed soon. You can track the status of these changes by following #203. Closing as duplicate.

[2022-07-06 10:14] #307 closed

[2022-07-06 11:40] base1983 opened #312 "[BUG] Since 1.16 newly uploaded images aren't showing up."
**Describe the bug**
A clear and concise description of what the bug is.

**Task List**
- [x] I have read thoroughly the README setup and installation instructions.
- [x] If my setup is different, I have included my docker-compose file.
- [x] I have included my redacted `.env` file.
- [x] I have included information on my machine, and environment.

**To Reproduce**
Steps to reproduce the behavior:

[2022-07-06 11:49] base1983 commented on #312
I am using Ubuntu 22.04 LTS

[2022-07-06 12:48] alextran1502 commented on #312
Hello,

Your docker-compose content is out of date.

Can you please refer to this release to update the content and your system https://github.com/alextran1502/immich/releases/tag/v1.15.0_21-dev

[2022-07-06 13:17] bo0tzz opened #314 "[BUG] User registration email format is not enforced in API"
When registering a user and signing in, you are expected to enter an email address for the user. The various forms enforce that this should be an email address, but the backend API does not. With a (manual) request to the API, it is possible to create an account with an invalid email address. It is then impossible to log in with this user, as the login form enforces the email address format.
I see

[2022-07-06 14:40] alextran1502 commented on #312
Can you check if they are still missing? Because if it is updated the
count, the record is written into the database and it should pull
everything accordingly.

Other than that, you can check the raw files in the UPLOAD_LOCATION and
reuploading via web

If that is not the case, you will have to create a new instance with fresh
data and reupload everything

On Wed, Jul 6, 2022 at 9:22 AM base1983 *

[2022-07-06 20:13] Seji64 commented on #312
I have the exact Same issue.

Env:

[code]

docker-compose:
[code]

[2022-07-07 06:47] bo0tzz commented on #308
The usual solution for this is split DNS: The domain is configured externally as usual, but on your local network you run a DNS server that resolves it to the local IP.

[2022-07-07 08:44] zackpollard commented on #312
I wouldn't recommend manually editing the database. Could you check the logs for your immich-microservices container as it looks like thumbnail generation. On the app new photos don't show up until the thumbnails have been generated

[2022-07-07 09:23] base1983 commented on #312
Thanks, looks like it worked. I connected to the postgres docker container. I then connected to the sql database en manually removed the wrong items. Everything is looking clean again.

[2022-07-07 09:29] zackpollard commented on #312
The server should handle thumbnail generation, if there were issues where it wasn't then there's something else wrong. Could you please check the immich-microserver logs and send them here so we can examine them as you shouldn't have any images failing thumbnail generation.

[2022-07-07 10:43] bo0tzz opened #317 "[Feature]: MOTD message on login screen"
### Feature detail

It would be nice to be able to configure an MOTD message that is displayed to users on the login screen. The specific use case I have in mind is when running a demo instance, to inform users of the login credentials to use and the fact that the instance is reset regularly. It would also be useful on an instance that is used by multiple people, for the admin to inform them of sc

[2022-07-07 14:04] base1983 commented on #312
[code]